{% extends 'base.html' %}

{% block title %}О компании{% endblock title %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/otzivi.css' %}">
{% endblock css %}
{% block content %}
    <main class="main">
        <div class="container">
            <p class="backlink-p">
                <a href="{% url 'index' %}" class="back-link">Главная / </a>
                Отзывы
            </p>
            <h1 class="page__title">
                Отзывы
            </h1>
        </div>
        </div>
        <div class="container">
            <div class="peoples__list">
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
                <div class="peoples__list-item">
                    <p class="peoples__list-item__author">
                        Сергей Васильев
                    </p>
                    <p class="peoples__list-item__desc">
                        «Я нахожусь в салоне ALTERA, всем советую, хороший коллектив, добрые люди, приветствуют, это не
                        обман, вам гарантия 100 % точно, чисто от меня, приезжайте! Мы приехали приобрести автомобиль в
                        салон ALTERA...
                    </p>
                    <button class="peoples__list-item__btn">
                        Подробнее <img src="{% static 'img/main-1920/peoples-arrow.svg' %}" alt="">
                    </button>
                </div>
            </div>
            <div style="text-align:center;">
                <button class="otzivi-btn red-btn" id="otzivi-btn">
                    показать ещё
                </button>
            </div>
        </div>
    </main>
    <script>
        window.onload = function () {
            var box = document.getElementsByClassName('peoples__list-item');
            var btn = document.getElementById('otzivi-btn');
            for (let i = 3; i < box.length; i++) {
                box[i].style.display = "none";
            }

            var countD = 3;
            btn.addEventListener("click", function () {
                var box = document.getElementsByClassName('peoples__list-item');
                countD += 3;
                if (countD <= box.length) {
                    for (let i = 0; i < countD; i++) {
                        box[i].style.display = "block";
                    }
                }
                if (countD >= box.length) {
                    btn.style.display = "none";
                }

            })
        }
    </script>
{% endblock content %}