{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <ul class="crumbs">
            <li class="crumbs__item"><a href="/" aria-current="page" class="crumbs__link active">
                Главная
            </a></li>
            <li class="crumbs__item"><span>
		Политика конфиденциальности
	</span></li>
        </ul>
        <div><h1 class="h1__title">Политика конфиденциальности и защиты личной информации</h1>
            <div class="privacy">
                <div class="privacy__nav">
                    <div class="privacy__link">
                        Политика конфиденциальности
                    </div>
                    <div class="privacy__link">
                        Политика в отношении обработки персональных данных
                    </div>
                    <div class="privacy__link">
                        Файлы Cookie и анализ посещения сайта
                    </div>
                    <div class="privacy__link">
                        Отказ от заверений и гарантий
                    </div>
                    <div class="privacy__link">
                        Согласие на обработку персональных данных
                    </div>
                </div>
                <div class="privacy__content"><h2 class="h2__title h2__title--no-margin-top">Политика
                    конфиденциальности</h2>
                    <p class="text__p">
                        Веб-сайт {{ dns }} (далее – мы) заботится о сохранении конфиденциальности Вашей
                        информации. В настоящем
                        документе описываются принятые {{ dns }} правила использования персональных данных,
                        которые вы сообщаете нам в
                        онлайне или в офлайне — по обычной почте, в конкурсных материалах, по телефону, в ходе опросов,
                        используя
                        возможности сайта и т.п. Внимательно прочтите весь документ. Продолжая пользоваться веб-сайтом
                        {{ dns }} или
                        предоставляя нам свою личную информацию через веб-сайт или офлайновыми методами, Вы соглашаетесь
                        с этой Политикой
                        конфиденциальности.
                    </p>
                    <p class="text__p">
                        Время от времени {{ dns }} может пересматривать Политику конфиденциальности, отражая
                        изменения в
                        законодательстве, мерах соблюдения конфиденциальности {{ dns }} или содержании
                        веб-сайта. Если такие изменения
                        влияют на то, как мы собираем и используем Вашу информацию, эти изменения будут внесены в
                        настоящую Политику
                        конфиденциальности, и будет объявлена дата их вступления в силу. Поэтому, чтобы оставаться в
                        курсе текущей
                        политики, необходимо периодически перечитывать Политику конфиденциальности. Даже если
                        {{ dns }} существенно
                        изменит свои методы сбора и использования персональных данных, Ваша личная информация будет
                        по-прежнему
                        регулироваться той Политикой, по которой она была собрана.
                    </p>
                    <p class="text__p">
                        Используемые в настоящей Политике конфиденциальности термины «мы» и «нас» относятся к
                        {{ dns }}.
                    </p>
                    <h2 class="h2__title">
                        Обработка персональных данных
                    </h2>
                    <p class="text__p">
                        Персональные данные сохраняются лишь при условии вашего согласия на их предоставление нам,
                        например, при
                        регистрации на сайте, проведении опросов, конкурсов или при наличии иных законных оснований для
                        обработки данных,
                        например, в целях заключения и исполнения договоров.
                    </p>
                    <p class="text__p">
                        {{ dns }} использует Ваши персональные данные для создания и управления клиентской
                        базой, проведения опросов по
                        продукции компании и в маркетинговых целях, в частности, для предоставления возможности
                        взаимодействовать с
                        Сайтом, продвижения товаров и услуг, получения и исследования статистических данных об объемах
                        продаж и качестве
                        услуг, оказываемых {{ dns }}. Передача персональных данных государственным органам
                        осуществляется исключительно
                        в рамках обязывающих нас требований законодательства. На наших сотрудников и контрагентов
                        распространяются
                        обязательства о строгом соблюдении конфиденциальности.
                    </p>
                    <h2 class="h2__title">
                        Право выбора
                    </h2>
                    <p class="text__p">
                        Мы хотели бы использовать Ваши данные, чтобы иметь возможность информировать Вас о нашей
                        продукции и
                        предоставляемых нами услугах и, при необходимости, узнавать Ваше мнение о них с вашего
                        предварительного согласия.
                        Если Вы не согласны далее участвовать в них, можете в любое время сообщить нам об этом, чтобы
                        Ваши данные не
                        использовались для данной цели. Дальнейшую информацию Вы найдете на соответствующих страницах
                        нашего сайта.
                    </p>
                    <p class="text__p">
                        На нашем веб-сайте может быть предоставлена возможность подписки на электронные рассылки
                        новостей. Вы можете в
                        любое время отказаться от указанной рассылки, воспользовавшись для этого предусмотренной в
                        рассылке опцией.
                    </p>
                    <p class="text__p">
                        По вашему запросу мы предоставим Вам обзор Вашей персональных данных, которую Вы предоставили
                        {{ dns }}, и
                        примем разумные меры для исключения любой некорректной персональных данных, о которой Вы нам
                        сообщите. Если Вы
                        попросите нас прекратить использование персональных данных, предоставленной Вами
                        https://кармоторс.рф, мы удовлетворим эту
                        просьбу, сохранив все записи Вашей персональных данных, необходимые для соблюдения действующих
                        федеральных
                        законов, законов штата или местных законов.
                    </p>
                    <p class="text__p">
                        При Вашем обращении или обращении Вашего законного представителя, запросе в письменной или
                        электронной форме, на
                        доступ к своим персональным данным {{ dns }} руководствуется требованиями статей 14,
                        18 и 20 Федерального
                        закона
                        № 152-ФЗ.
                    </p>
                    <p class="text__p">
                        В зависимости от информации, предоставленной в запросе, {{ dns }} принимает решение о
                        предоставлении Вам
                        доступа
                        к Вашим персональным данным. В случае если данных предоставленных Вами недостаточно для
                        установления Вашей
                        личности или предоставление персональных данных нарушает конституционные права и свободы других
                        лиц {{ dns }}
                        подготавливает мотивированный ответ, содержащий ссылку на положение части 8 статьи 14
                        Федерального Закона № 152-ФЗ
                        или иного Федерального Закона, являющееся основанием для такого отказа, в срок, не превышающий
                        тридцати рабочих
                        дней от даты получения Вашего обращения или обращения Вашего законного представителя.
                    </p>
                    <p class="text__p">
                        Сведения о наличии персональных данных предоставляются Вам при ответе на запрос в течение
                        тридцати дней от даты
                        получения Вашего запроса или запроса Вашего законного представителя.
                    </p>
                    <p class="text__p">
                        Веб-сайт {{ dns }} оставляет за собой право проверить полноту и точность
                        предоставляемой персональных данных. В
                        случае выявления ошибочной или неполной информации, Оператор имеет право прекратить все
                        отношения с Вами.
                    </p>
                    <p class="text__p">
                        Если вы хотите связаться с нами по поводу нашей Политики конфиденциальности или по поводу
                        обработки {{ dns }}
                        Ваших персональных данных, проверить или исправить свою личную информацию или отказаться от
                        любых наших будущих
                        сообщений, а также отозвать согласие на обработку персональных данных, пожалуйста, обращайтесь
                        по форме обратной
                        связи на странице контактов текущего веб-сайта.
                    </p>
                    <p class="text__p">
                        По Вашему запросу {{ dns }} в соответствии с действующим законодательством ответит
                        Вам, хранятся ли у нас Ваши
                        персональные данные и если да, то какие. Если при всем нашем стремлении к достоверности и
                        актуальности хранимой у
                        нас информации она по каким-либо причинам окажется неточной, то по Вашему требованию в нее будут
                        внесены
                        соответствующие исправления.
                    </p></div>
            </div>
        </div> <!---->
        <div><h2 class="h2__title">Контакты</h2>
            <div class="contacts">
                <div class="map contacts__map">
                    <section class="ymap-container" style="width: 100%; height: 480px;">
                        <div id="yandexMap45975" style="width: 100%; height: 100%;">
                            <ymaps class="ymaps-2-1-79-map" style="width: 1248px; height: 480px;">
                                <ymaps class="ymaps-2-1-79-map ymaps-2-1-79-i-ua_js_yes ymaps-2-1-79-map-bg ymaps-2-1-79-islets_map-lang-ru"
                                       style="width: 1248px; height: 480px;">
                                    <ymaps class="ymaps-2-1-79-inner-panes">
                                        <ymaps class="ymaps-2-1-79-events-pane ymaps-2-1-79-user-selection-none"
                                               unselectable="on"
                                               style="height: 100%; width: 100%; top: 0px; left: 0px; position: absolute; z-index: 2500; cursor: url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;) 16 16, url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;), move;"></ymaps>
                                        <ymaps class="ymaps-2-1-79-ground-pane"
                                               style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 501;">
                                            <ymaps style="z-index: 150; position: absolute;">
                                                <canvas style="position: absolute; width: 1504px; height: 736px; left: -128px; top: -128px;"
                                                        height="1472" width="3008"></canvas>
                                            </ymaps>
                                        </ymaps>
                                        <ymaps class="ymaps-2-1-79-copyrights-pane"
                                               style="height: 0px; inset: auto 0px 0px; position: absolute; z-index: 5002;">
                                            <ymaps>
                                                <ymaps class="ymaps-2-1-79-copyright ymaps-2-1-79-copyright_logo_no"
                                                       style="">
                                                    <ymaps class="ymaps-2-1-79-copyright__fog">…</ymaps>
                                                    <ymaps class="ymaps-2-1-79-copyright__wrap">
                                                        <ymaps class="ymaps-2-1-79-copyright__layout">
                                                            <ymaps class="ymaps-2-1-79-copyright__content-cell">
                                                                <ymaps class="ymaps-2-1-79-copyright__content">
                                                                    <ymaps class="ymaps-2-1-79-copyright__text">©
                                                                        Яндекс
                                                                    </ymaps>
                                                                    <ymaps class="ymaps-2-1-79-copyright__agreement">
                                                                        &nbsp;<a class="ymaps-2-1-79-copyright__link"
                                                                                 target="_blank"
                                                                                 href="https://yandex.ru/legal/maps_termsofuse/?lang=ru"
                                                                                 rel="noopener">Условия
                                                                        использования</a></ymaps>
                                                                </ymaps>
                                                            </ymaps>
                                                            <ymaps class="ymaps-2-1-79-copyright__logo-cell"><a
                                                                    class="ymaps-2-1-79-copyright__logo" href=""
                                                                    target="_blank"></a></ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                </ymaps>
                                            </ymaps>
                                            <ymaps class="ymaps-2-1-79-map-copyrights-promo">
                                                <ymaps>
                                                    <ymaps class="ymaps-2-1-79-gotoymaps"
                                                           title="Открыть в Яндекс.Картах">
                                                        <ymaps class="ymaps-2-1-79-gotoymaps__container">
                                                            <ymaps class="ymaps-2-1-79-gotoymaps__pin"></ymaps>
                                                            <ymaps class="ymaps-2-1-79-gotoymaps__text-container">
                                                                <ymaps class="ymaps-2-1-79-gotoymaps__text">Открыть в
                                                                    Яндекс.Картах
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                    <ymaps class="ymaps-2-1-79-gototaxi" title="Доехать на такси"
                                                           style="display: none;">
                                                        <ymaps class="ymaps-2-1-79-gototaxi__container">
                                                            <ymaps class="ymaps-2-1-79-gototaxi__pin"></ymaps>
                                                            <ymaps class="ymaps-2-1-79-gototaxi__text-container">
                                                                <ymaps class="ymaps-2-1-79-gototaxi__text">Доехать на
                                                                    такси
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                    <a class="ymaps-2-1-79-gototech" target="_blank"
                                                       href="https://tech.yandex.ru/maps/mapsapi/?from=api-maps ">Создать
                                                        свою карту</a></ymaps>
                                            </ymaps>
                                        </ymaps>
                                        <ymaps class="ymaps-2-1-79-controls-pane"
                                               style="width: 100%; top: 0px; left: 0px; position: absolute; z-index: 4503;">
                                            <ymaps class="ymaps-2-1-79-controls__toolbar" style="margin-top: 10px;">
                                                <ymaps class="ymaps-2-1-79-controls__toolbar_left"></ymaps>
                                                <ymaps class="ymaps-2-1-79-controls__toolbar_right">
                                                    <ymaps style="margin-right: 10px; margin-left: 0px; position: inherit;"
                                                           class="ymaps-2-1-79-controls__control_toolbar">
                                                        <ymaps>
                                                            <ymaps class="ymaps-2-1-79-traffic">
                                                                <ymaps id="id_167545548973414662853" unselectable="on"
                                                                       class="ymaps-2-1-79-user-selection-none">
                                                                    <ymaps>
                                                                        <ymaps class="ymaps-2-1-79-float-button ymaps-2-1-79-float-button_traffic_left"
                                                                               style="">
                                                                            <ymaps class="ymaps-2-1-79-traffic__icon ymaps-2-1-79-traffic__icon_icon_off ymaps-2-1-79-float-button-icon"></ymaps>
                                                                            <ymaps class="ymaps-2-1-79-float-button-text">
                                                                                <ymaps>Пробки</ymaps>
                                                                            </ymaps>
                                                                        </ymaps>
                                                                    </ymaps>
                                                                    <ymaps></ymaps>
                                                                </ymaps>
                                                                <ymaps id="id_167545548973414662854">
                                                                    <ymaps>
                                                                        <ymaps class="ymaps-2-1-79-traffic__panel ymaps-2-1-79-popup ymaps-2-1-79-popup_direction_down ymaps-2-1-79-popup_to_bottom ymaps-2-1-79-popup_theme_ffffff ymaps-2-1-79-user-selection-none"
                                                                               unselectable="on" style="width: 270px;">
                                                                            <ymaps class="ymaps-2-1-79-traffic__tail ymaps-2-1-79-popup__tail"></ymaps>
                                                                            <ymaps class="ymaps-2-1-79-traffic__panel-content">
                                                                                <ymaps id="id_167545548973414662855">
                                                                                    <ymaps>
                                                                                        <ymaps class="ymaps-2-1-79-traffic__switcher">
                                                                                            <ymaps class="ymaps-2-1-79-traffic__switcher-item ymaps-2-1-79-traffic__switcher-item_data_actual ymaps-2-1-79-traffic__switcher-item_selected_yes">
                                                                                                Сейчас
                                                                                            </ymaps>
                                                                                            <ymaps class="ymaps-2-1-79-traffic__switcher-item ymaps-2-1-79-traffic__switcher-item_data_archive">
                                                                                                Статистика
                                                                                            </ymaps>
                                                                                        </ymaps>
                                                                                    </ymaps>
                                                                                </ymaps>
                                                                                <ymaps></ymaps>
                                                                                <ymaps></ymaps>
                                                                                <ymaps></ymaps>
                                                                            </ymaps>
                                                                        </ymaps>
                                                                    </ymaps>
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                </ymaps>
                                            </ymaps>
                                            <ymaps class="ymaps-2-1-79-controls__bottom" style="top: 480px;"></ymaps>
                                        </ymaps>
                                        <ymaps class="ymaps-2-1-79-places-pane"
                                               style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 2004;">
                                            <ymaps class="ymaps-2-1-79-placemark-overlay ymaps-2-1-79-user-selection-none"
                                                   unselectable="on"
                                                   style="z-index: 650; height: 0px; width: 0px; position: absolute; left: 138px; top: 805px;">
                                                <ymaps>
                                                    <ymaps class="ymaps-2-1-79-islets_icon-with-caption">
                                                        <ymaps class="ymaps-2-1-79-islets_icon-with-caption__caption-block">
                                                            <ymaps class="ymaps-2-1-79-islets_icon-caption"
                                                                   style="padding: 0px; max-width: 0px;"></ymaps>
                                                        </ymaps>
                                                        <ymaps id="id_167545548973414662857">
                                                            <ymaps class="ymaps-2-1-79-svg-icon ymaps_https___api_maps_yandex_ru_2_1_79_1259034898793islands_icon___1E98FF_34x41_1675455490111"
                                                                   style="position: absolute; width: 34px; height: 41px; left: -11px; top: -38px;">
                                                                <ymaps class="ymaps-2-1-79-svg-icon-content"
                                                                       style="font: 13px Arial, sans-serif; position: absolute; text-align: center;left: 5px;top: 6px;width: 16px;height: 16px;">
                                                                    <ymaps></ymaps>
                                                                </ymaps>
                                                            </ymaps>
                                                        </ymaps>
                                                    </ymaps>
                                                </ymaps>
                                            </ymaps>
                                        </ymaps>
                                    </ymaps>
                                </ymaps>
                            </ymaps>
                        </div>
                        <div class="ymap-markers"><!----></div>
                    </section>
                </div>
                <div class="contacts__info"><!---->
                    <div class="contacts__info-line">
                        <div class="contacts__info-name">
                            Адрес:
                        </div>
                        <div class="contacts__info-info">
                            {{ address }}
                        </div>
                    </div><!---->
                    <div class="contacts__info-line">
                        <div class="contacts__info-name">
                            Номер телефона:
                        </div>
                        {% for phone_number in phone_numbers %}
                            <a href="tel:{{ phone_number }}" class="contacts__info-info">
                                {{ phone_number }}
                            </a>
                        {% endfor %}


                    </div>
                    <div class="contacts__info-line">
                        <div class="contacts__info-name">
                            Режим работы:
                        </div>
                        <div class="contacts__info-info">
                            {{ work_time }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}