{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tehcenter.css' %}">
{% endblock css %}
{% block content %}
    <main class="main">
        <div class="container">
            <p class="backlink-p">
                <a href="{% url 'index' %}" class="back-link">Главная / </a>
                Техцентр
            </p>
            <h1 class="page__title">
                Техцентр
            </h1>
            <p class="tehcenter__desc">
                Специалисты нашего автосервиса имеют огромный опыт в обслуживании автомобилей разных производителей,
                новых и с пробегом, поэтому в короткие сроки способны обнаружить и исправить любую поломку.
                Все работы проводятся в соответствии с рекомендациями производителей.
            </p>
            <div class="tehcenter__list">
                {% for service in services %}
                    <div class="tehcenter__list-item">
                        <div class="tehcenter__list-item__top">
                            <img src="{% static 'img/tehcenter-1920/list-style.png' %}" alt="">
                            <p class="tehcenter__list-item__top-title">
                                {{ service.title}}
                            </p>
                        </div>
                        <p class="tehcenter__list-item__desc">
                            {{ service.description }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}