<footer class="footer">
    <div class="footer__container">
        <div class="footer__bg footer__bg--gray">
            <div class="footer__inner">
                <nav class="footer__menu footer-menu">
                    <ul class="footer-menu__list nav -bold">
                        <li class="">
                            <a class="footer-menu__link" href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="">
                            <a class="footer-menu__link" href="{% url 'new_cars' %}">Новые авто</a>
                        </li>
                        <li class="">
                            <a class="footer-menu__link" href="{% url 'used_cars' %}">Авто с пробегом</a>
                        </li>
                        <li class="">
                            <a class="footer-menu__link" href="{% url 'credit_request_create' %}">Кредит и рассрочка</a>
                        </li>
                        <li class="">
                            <a class="footer-menu__link" href="{% url 'trade_in_create' %}">Trade-in</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <span class="footer__line"></span>

            <div class="footer__inner">
                <div class="footer__full-menu">
                    <div class="footer__catalog footer-catalog">
                        <h6 class="footer-heading">Каталог авто</h6>
                        <ul class="footer-catalog__list js-resizable-list">
                            {% for brand in brands %}
                                <li><a href="">{{ brand }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="footer__push -push"></div>
                    <div class="footer-contacts">
                        <h6 class="footer-heading">Контакты</h6>
                        <div class="footer-contacts__phone phone phone--l">
                            {% for phone_number in phone_numbers %}
                                <a href="tel:{{ phone_number }}" class="footer-contacts__phone-link  -bold">
                                    {{ phone_number }}
                                </a>
                            {% endfor %}
                        </div>
                        <div class="worktime worktime--l">
                            {{ worktime }}
                        </div>
                        <div class="address address--l">
                            <p class="js-address">{{ address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bg footer__bg--black">
            <div class="footer__inner">
                <div class="footer-disclaimer">
                    <div class="footer-disclaimer__docs">
                        <h6>
                            202e Автосалон "{{ title }}". Официальный диллер
                        </h6>
                        <a href="{% url 'privacy' %}" class="footer-disclaimer__privacy">
                            Политика конфиденциальности
                        </a>
                        <a href="{% url 'privacy' %}" class="footer-disclaimer__terms">
                            Пользовательское соглашение
                        </a>
                    </div>
                    <div class="footer-disclaimer__text">
                        <p>
                            Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный
                            характер и ни при каких условиях не является публичной офертой, определяемой положениями ч.
                            2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о
                            стоимости автомобилей, пожалуйста, обратитесь к менеджерам автосалона.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bg footer__bg--gray" style="display: none;">
            <div class="container">
                <div class="footer__catalog footer-catalog">
                    <ul class="footer-catalog__list js-resizable-list">
                        <li style="display: flex; flex-direction: column; width: 20%;">
                            <a href="" style="color: #FFFFFF;">KİA</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                Picanto (2020), Sorento 2019, Sorento Prime, Sportage New, Rio 2019, Pro Ceed,
                                Mohave
                                2019, Rio X-Line, Stringer (2020), Optima NEW, Ceed 2020, Cerato 2020, K900, Ceed SW
                                2020, Soul, Seltos, XCeed, K5, Rio, Sorento, Mohave, Rio X, Carnival, Picanto,
                                Stinger,
                                Cerato, Ceed, Ceed SW
                            </div>
                        </li>
                        <li style="display: flex; flex-direction: column; width: 20%;">
                            <a href="" style="color: #FFFFFF;">Hyundai</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                i30, Solaris 2019, Santa Fe 2020, Tucson 2020, H1, Elantra 2019, Sonata, Solaris,
                                Creta 2020, Tucson N Line, Elantra, Palisade, Santa Fe, Tucson, Creta
                            </div>
                        </li>
                        <li style="display: flex; flex-direction: column;width: 20%;">
                            <a href="" style="color: #FFFFFF;">Skoda</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                Octavia 2019, Kodiaq 2020, Rapid 2019, Kodiaq Scout, Kodiaq Sportline, Superb New,
                                Superb Combi New, Superb Sportline, Karoq, Rapid, Octavia A8, Kodiaq
                            </div>
                        </li>
                        <li style="display: flex; flex-direction: column; width: 20%;">
                            <a href="" style="color: #FFFFFF;">Volkswagen</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                Golf (2020), Polo 2019, Passat 2019, Tiguan 2019, Jetta 2019, Touareg, Teramont
                                (2020), Amarok, Passat, Jetta, Polo, Arteon
                            </div>
                        </li>
                    </ul>
                    <ul class="footer-catalog__list js-resizable-list">
                        <li style="display: flex; flex-direction: column; width: 20%;">
                            <a href="" style="color: #FFFFFF;">KİA</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                Picanto (2020), Sorento 2019, Sorento Prime, Sportage New, Rio 2019, Pro Ceed,
                                Mohave
                                2019, Rio X-Line, Stringer (2020), Optima NEW, Ceed 2020, Cerato 2020, K900, Ceed SW
                                2020, Soul, Seltos, XCeed, K5, Rio, Sorento, Mohave, Rio X, Carnival, Picanto,
                                Stinger,
                                Cerato, Ceed, Ceed SW
                            </div>
                        </li>
                        <li style="display: flex; flex-direction: column; width: 20%;">
                            <a href="" style="color: #FFFFFF;">Hyundai</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                i30, Solaris 2019, Santa Fe 2020, Tucson 2020, H1, Elantra 2019, Sonata, Solaris,
                                Creta 2020, Tucson N Line, Elantra, Palisade, Santa Fe, Tucson, Creta
                            </div>
                        </li>
                        <li style="display: flex; flex-direction: column;width: 20%;">
                            <a href="" style="color: #FFFFFF;">Skoda</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                Octavia 2019, Kodiaq 2020, Rapid 2019, Kodiaq Scout, Kodiaq Sportline, Superb New,
                                Superb Combi New, Superb Sportline, Karoq, Rapid, Octavia A8, Kodiaq
                            </div>
                        </li>
                        <li style="display: flex; flex-direction: column; width: 20%;">
                            <a href="" style="color: #FFFFFF;">Volkswagen</a>
                            <div style="width: 100%; color: #737373; font-size: 16px;">
                                Golf (2020), Polo 2019, Passat 2019, Tiguan 2019, Jetta 2019, Touareg, Teramont
                                (2020), Amarok, Passat, Jetta, Polo, Arteon
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>