<footer class="footer">
    <div class="container">
        <!-- <div class="map"></div> -->
        <div class="footer__nav">
            <a href="">
                <p class="footer__nav-item">
                    Каталог авто
                </p>
            </a>
            <a href="">
                <p class="footer__nav-item">
                    Авто с пробегом
                </p>
            </a>
            <a href="">
                <p class="footer__nav-item">
                    Кредит и рассрочка
                </p>
            </a>
            <a href="">
                <p class="footer__nav-item">
                    Спецпредложения
                </p>
            </a>
            <a href="">
                <p class="footer__nav-item">
                    Такси в кредит
                </p>
            </a>
        </div>
        <div class="footer__main">
            <div class="footer__main-left">
                <div class="footer__main-left__top">
                    <div class="footer__main-left__top-title">
                        <div class="footer__title">
                            каталог авто
                        </div>
                        <a href="" class="footer__main-left__top-title__map">
                            Подробнее
                        </a>
                    </div>
                    <a href="" class="footer__main-left__top-map">
                        Карта сайта
                    </a>
                </div>
                <div class="footer__cars">
                    <div class="footer__cars-div">
                        <a href="" class="footer__main-left__item">
                            Kia
                        </a>
                        <a href="" class="footer__main-left__item">
                            Hyundai
                        </a>
                        <a href="" class="footer__main-left__item">
                            Skoda
                        </a>
                        <a href="" class="footer__main-left__item">
                            Volkswagen
                        </a>
                        <a href="" class="footer__main-left__item">
                            Toyota
                        </a>
                        <a href="" class="footer__main-left__item">
                            Brilliance
                        </a>
                    </div>
                    <div class="footer__cars-div">
                        <a href="" class="footer__main-left__item">
                            Changan
                        </a>
                        <a href="" class="footer__main-left__item">
                            Chery
                        </a>
                        <a href="" class="footer__main-left__item">
                            CheryExceed
                        </a>
                        <a href="" class="footer__main-left__item">
                            Chevrolet
                        </a>
                        <a href="" class="footer__main-left__item">
                            Citroen
                        </a>
                        <a href="" class="footer__main-left__item">
                            Datsun
                        </a>
                    </div>
                    <div class="footer__cars-div">
                        <a href="" class="footer__main-left__item">
                            Dongfeng
                        </a>
                        <a href="" class="footer__main-left__item">
                            DW Hover
                        </a>
                        <a href="" class="footer__main-left__item">
                            FAW
                        </a>
                        <a href="" class="footer__main-left__item">
                            Ford
                        </a>
                        <a href="" class="footer__main-left__item">
                            Foton
                        </a>
                        <a href="" class="footer__main-left__item">
                            Geely
                        </a>
                    </div>
                    <div class="footer__cars-div">
                        <a href="" class="footer__main-left__item">
                            Great Wall
                        </a>
                        <a href="" class="footer__main-left__item">
                            Haima
                        </a>
                        <a href="" class="footer__main-left__item">
                            Haval
                        </a>
                        <a href="" class="footer__main-left__item">
                            Honda
                        </a>
                        <a href="" class="footer__main-left__item">
                            JAC
                        </a>
                        <a href="" class="footer__main-left__item">
                            Lada
                        </a>
                    </div>
                    <div class="footer__cars-div">
                        <a href="" class="footer__main-left__item">
                            Lifan
                        </a>
                        <a href="" class="footer__main-left__item">
                            Mazda
                        </a>
                        <a href="" class="footer__main-left__item">
                            Mitsubishi
                        </a>
                        <a href="" class="footer__main-left__item">
                            Nissan
                        </a>
                        <a href="" class="footer__main-left__item">
                            Opel
                        </a>
                        <a href="" class="footer__main-left__item">
                            Peugeot
                        </a>
                    </div>
                    <div class="footer__cars-div">
                        <a href="" class="footer__main-left__item">
                            Ravon
                        </a>
                        <a href="" class="footer__main-left__item">
                            Renault
                        </a>
                        <a href="" class="footer__main-left__item">
                            SsangYong
                        </a>
                        <a href="" class="footer__main-left__item">
                            Suzuki
                        </a>
                        <a href="" class="footer__main-left__item">
                            UAZ
                        </a>
                        <a href="" class="footer__main-left__item">
                            Zotye
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__main-center">
                <div class="footer__title">
                    Кредит и рассрочка
                </div>
                <div class="footer__main-center__list">
                    <a href="" class="footer__main-center__item">
                        Семейный автомобиль
                    </a>
                    <a href="" class="footer__main-center__item">
                        Первый автомобиль
                    </a>
                    <a href="" class="footer__main-center__item">
                        Работникам медицины
                    </a>
                    <a href="" class="footer__main-center__item">
                        Рассрочка
                    </a>
                    <a href="" class="footer__main-center__item">
                        Трейд-in
                    </a>
                </div>
            </div>
            <div class="footer__main-right">
                <div class="footer__title">
                    Контакты
                </div>
                <div class="footer__main-right__item">
                    <img src="img/strahovanie-1920/footer-call.png" alt="">
                    <div class="">
                        <p class="footer__main-right__item-info">
                            +7 (800) 551-94-31
                        </p>
                        <p class="footer__main-right__item-info">
                            +7 (495) 292-18-67
                        </p>
                    </div>
                </div>
                <div class="footer__main-right__item">
                    <img src="img/strahovanie-1920/footer-time.png" alt="">
                    <p class="footer__main-right__item-info">
                        Ежедневно с 08:00 до 21:00
                    </p>
                </div>
                <div class="footer__main-right__item">
                    <img src="img/strahovanie-1920/footer-gps.png" alt="">
                    <p class="footer__main-right__item-info">
                        Россия, Москва, 38КМ МКАД, 6Бс1 <br>
                        <span>Схема проезда</span>
                    </p>
                </div>
                <select name="" id="" class="footer__main-right__select">
                    <option value="">Москва</option>
                </select>
            </div>
        </div>

    </div>
    <div class="footer__bottom">
        <div class="container footer__bottom-cont">
            <div class="footer__bottom-left">
                <p class="footer__bottom-left__copy">
                    © 2021 Автосалон "ABC AUTO". Официальный дилер
                </p>
                <div class="footer__bottom-left__links">
                    <a href="" class="footer__bottom-left__links-item">Политика конфиденциальности</a>
                    <a href="" class="footer__bottom-left__links-item">Пользовательское соглашение</a>
                </div>
            </div>
            <p class="footer__bottom-center">
                Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни
                при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского
                кодекса Российской Федерации.
            </p>
            <img src="img/strahovanie-1920/footer-rate.png" alt="" class="footer__bottom-right">
        </div>
    </div>
</footer>