{% load  static %}

<header class="header" id="small">
    <div class="contact-line">
        <div class="_container">
            <div class="contact-line__inner contact-line__mobile">
                <a href="tel:{{ phone_numbers.first }}" class="contact-line__phone -bold">{{ phone_numbers.first }}</a>
                <button class="contact-line__call -bold" id="callback_line">Обратный звонок</button>
            </div>
            <div class="contact-line__inner contact-line__desktop">
				<span class="contact-line__address address address--s" id="address">
					{{ address }}
				</span>
                <span class="contact-line__worktime worktime worktime--s">
					{{ work_time }}
				</span>
                <div class=" contact-line__push -push"></div>
                <a href="https://web.whatsapp.com/send/?phone={{ whatsapp }}"
                   class="contact-line__whatsapp whatsapp whatsapp--s" target="_blank">Whatsapp</a>
            </div>
        </div>
    </div>

    <div class="navigation__wrapper" id="menu">
        <div class="navigation__container _container">
            <div class="navigation">

                <div class="navigation__burger" id="burger">
                    <span></span>
                </div>

                <div class="navigation__logo logo">
                    <a href="{% url 'index' %}" class="logo__link">
                        <img src="{{ logo.logo.url }}" alt="" class="logo__img" style="max-height: 40px; width: 100%;">
                    </a>
                    <div class="logo__tagline">
                        <span class="-highlighted">10 лет</span>
                        превосходим ваши ожидания
                    </div>
                </div>

                <div class="navigation__push -push"></div>

                <div class="navigation__phone phone phone--l">
                    <a href="tel:{{ phone_numbers.first }}" class="-bold">
                        {{ phone_numbers.first }}
                    </a>
                </div>

                <div class="navigation__navblock">
                    <nav class="navigation__navbar">
                        <ul class="navbar nav">
                            <li class="navbar__item"><a href="{% url 'about' %}">О компании</a></li>
                            <li class="navbar__item"><a href="{% url 'services' %}">Техцентр</a></li>
                            <li class="navbar__item"><a href="{% url 'contacts' %}">Контакты</a></li>
                        </ul>
                    </nav>

                    <div class="navigation__contacts">
                        <div class="phone phone--l">
                            {% for phone_number in phone_numbers %}
                                <a href="tel:{{ phone_number }}" class="navigation__contacts__phone -bold">
                                    {{ phone_number }}
                                </a>
                            {% endfor %}
                        </div>
                        <div class="navigation__contacts__worktime worktime worktime--l">
                            {{ work_time }}
                        </div>
                        <div class="navigation__contacts__address address address--l">
                            <p class="js-address">{{ address }}</p>
                        </div>
                    </div>
                    <button class="navigation__button button" id="callback"
                            style="padding: 10px;">Обратный звонок
                    </button>

                    <nav class="navigation__menu" id="large_menu" style="max-height: 30px;">
                        <div class="header-bottom__list">
                            <a href="{% url 'index' %}" class="header-bottom__list-link">
                                Главная
                            </a>
                            <a href="{% url 'new_cars' %}" class="header-bottom__list-link">
                                новые автомобили
                            </a>
                            <a href="{% url 'used_cars' %}" class="header-bottom__list-link">авто с пробегом</a>
                            <a href="{% url 'credit_request_create' %}" class="header-bottom__list-link">кредит и
                                рассрочка</a>
                            <a class="header-bottom__list-link" href="{% url 'trade_in_create' %}">Trade-in</a>
                        </div>
                    </nav>
                    <nav class="navigation__menu" id="small_menu">
                        <ul class="menu nav">
                            <li class="menu__item dropdown">
                                <a href="{% url 'index' %}" class="ar">Главная</a>
                            </li>
                            <li class="menu__item dropdown">
                                <a href="{% url 'new_cars' %}" class="ar">Новые авто</a>
                            </li>
                            <li class="menu__item dropdown">
                                <a href="{% url 'used_cars' %}" class="ar">Авто с пробегом</a>
                            </li>
                            <li class="menu__item dropdown">
                                <a href="{% url 'credit_request_create' %}" class="ar">Кредит и расрочка</a>
                            </li>
                            <li class="menu__item dropdown">
                                <a href="{% url 'credit_request_create' %}" class="ar">Trade-in</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="fullmenu" id="fullmenu">
        <div class="_container">
            <nav class="fullmenu__nav" id="nav">
                <div class="fullmenu__catalog">
                    <a href="">
                        <h3>Каталог автомобилей</h3>
                    </a>
                    <ul class="">
                        {% for brand in brands %}
                            <li><a href="">{{ brand }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="fullmenu__used">
                    <a href="">
                        <h3>Авто с пробегом</h3>
                    </a>
                    <ul class="">
                        {% for brand in brands %}
                            <li><a href="">{{ brand }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>