{% load static %}
<section class="top-banner">
    {% if banners %}
        <div class="top-banner__container _container">
            <div class="top-banner__bg">
                <div class="top-banner__inner">
                    <div class="top-slider">
                        {% for banner in banners %}
                            <div class="top-slider__item">
                                <div class="top-slider__content">
                                    <span class="top-slider__accent-text -highlighted">{{ banner.title }}</span>
                                    <h1 class="top-slider__heading">{{ banner.subtitle }}</h1>
                                    <p class="top-slider__text">{{ banner.description }}</p>
                                </div>
                                <picture class="top-slider__car-pic car1">
                                    <source srcset="" media="">
                                    <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                                </picture>
                                <picture class="top-slider__car-pic car2">
                                    <source srcset="" media="">
                                    <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                                </picture>
                                <picture class="top-slider__car-pic car3">
                                    <source srcset="" media="">
                                    <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                                </picture>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>