{% load static %}
<section class="top-banner">
    <div class="top-banner__container _container">
        <div class="top-banner__bg">
            <div class="top-banner__inner">
                <div class="top-slider">
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                    <div class="top-slider__item">
                        <div class="top-slider__content">
                            <span class="top-slider__accent-text -highlighted">Осталось всего 10 авто!</span>
                            <h1 class="top-slider__heading">Грандиозная распродажа тестового парка!</h1>
                            <p class="top-slider__text">Узнай свою цену!</p>
                        </div>
                        <picture class="top-slider__car-pic car1">
                            <source srcset="" media="">
                            <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new">
                        </picture>
                        <picture class="top-slider__car-pic car2">
                            <source srcset="" media="">
                            <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2">
                        </picture>
                        <picture class="top-slider__car-pic car3">
                            <source srcset="" media="">
                            <img src="{% static 'img/rapid-entry--l.png' %}" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>