@import url(main.css);
@import url(index.css);
@import url(strahovanie.css);
@import url(favourite-new.css);

/* hero */

.backlink-p {
    color: var(--dark-gray);
    margin-top: 0;
}

.hero {
    background-color: #FFCD1B;
    background-image: url('../img/taxi-credit-1920/hero-back.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    margin-top: 0;
    width: 100%;
}

.hero-title {
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    max-width: 60%;
    margin-top: 65px;
    margin-bottom: 35px;
    line-height: 70px;
}

.discount {
    font-weight: 900;
    font-size: 130px;
    line-height: 152px;
    color: #FFFFFF;
}

.up-to {
    transform: translateY(-120px);
}

.go-right {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    transform: translateY(-160px) translateX(300px);
    width: 140px;
}

@media screen and (max-width: 426px) {
    .hero-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        margin: 0;
    }

    .go-right {
        transform: translateY(0px) translateX(0px);
    }

    .up-to {
        transform: translateY(0px);
    }

    .hero-adv__item img {
        width: 60px;
        height: 60px;
    }
}

.hero-adv {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
}

.hero-adv__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero-adv__item img {
    margin-right: 10px;
}

.hero-adv__item p {
    font-size: 16px;
    max-width: 50%;
}

.hero__special {
    top: 25px;
    padding: 20px 50px;
}

@media screen and (max-width: 426px) {
    .hero__special {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .hero-adv__item {
        margin-bottom: 10px;
    }

    .hero__special-right__top input[type="text"], input[type="tel"] {
        width: 100%;
        font-size: 10px;
        flex-direction: column;
    }

    .hero__special-right__btn {
        max-width: 100%;
        font-size: 9px;
    }

    .advantages-desc {
        margin-top: 400px;
        font-weight: 700;
    }


}

@media screen and (max-width: 1024px) {
    .hero {
        background-position: center center;
        padding: 20px;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero__special-left p, span {
        font-size: 16px;
    }

    .hero__special-right__top input[type="text"], input[type="tel"] {
        width: 85%;
        margin: inherit;
    }

    .hero__special-right__btn {
        max-width: 85%;
        margin: inherit;
    }

    .hero__special-right__top {
        margin-top: 20px;
        justify-content: flex-start;
        flex-direction: column;
    }
}

/* ADVANTAGES */

.advantages {
    margin-top: 130px;
    text-align: center;
}


.advantages-desc {
    max-width: 50%;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.advantages-list__top,
.advantages-list__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.advantages-list__top {
    margin-bottom: 70px;
}

.advantages-list__item {
    align-items: center;
    text-align: center;
    width: 30%;
}

.advantages-list__item p {
    font-weight: 700;
    font-size: 20px;
    color: var(--dark-gray);
}

@media screen and (max-width: 1024px) {
    .autos-top__img {
        max-width: 35%;
    }
}

@media screen and (max-width: 426px) {
    .autos-top__img {
        display: none;
    }

    .advantages {
        margin-top: 500px;
    }

    .work-cont {
        flex-direction: column;
        padding: 56px 50px 56px 56px;
    }

    .advantages-list__item {
        width: 100%;
        margin-bottom: 30px;
    }


}


/* AUTOS */

.taxi__cards {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
}

.taxi__cards-item:nth-child(1) {
    margin-right: 0;
}

.taxi__cards-item {
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .taxi__cards-item {
        width: 100%;
    }
}

.autos {
    margin-top: 100px;
}

.autos-top {
    display: flex;
    justify-content: space-between;
}

.autos-select {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    width: 100%;
    height: 65px;
    border-radius: 25px;
    align-items: center;
    padding: 25px;
}

.autos-select__left {
    display: flex;
    align-items: center;
}

.autos-select__left p {
    color: var(--dark-gray);
}

.autos-select__left-btn {
    color: var(--dark-gray);
    font-weight: 700;
    width: 124px;
    height: 35px;
    border-radius: 51px;
    font-size: 14px;
    border: none;
    background-color: var(--medium-gray);
    text-transform: uppercase;
    margin-left: 15px;
}

.autos-select__right select {
    width: 206px;
    height: 50px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
}

.autos-select__btn {
    padding: 22px 72px;
}

@media screen and (max-width: 426px) {
    .autos-select__left p {
        display: none;
    }

    .autos-select {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/* WORK */

.work {
    margin-top: 94px;
    background-image: url('../img/taxi-credit-1920/work-car.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: -17%;
    background-position-y: 65%;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.work-cont {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-gray);
    width: 100%;
    padding: 56px 100px 56px 56px;
    border-radius: 25px;
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .work {
        background-size: 600px;
    }

}

@media screen and (max-width: 768px) {
    .work {
        background-size: 440px;
    }

}

@media screen and (max-width: 426px) {
    .work {
        background-image: none;
    }

    .work-title {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .work-cont {
        flex-direction: column;
        padding: 56px 50px 56px 56px;
    }

    .work-center {
        width: 100%;
    }


}

.work-title {
    color: var(--white);
    max-width: 75%;
}

.work-center {
    margin-right: 35px;
}

.work-center__plus,
.work-center__minus {
    padding: 5px 7px;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--white);
    margin-bottom: 10px;
}

.work-center__plus {
    background-color: #298F2D;
}

.work-center__minus {
    background-color: #CA0100;
}

.work-center__title {
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 24px;
}

.work-center__list {
    display: flex;
    flex-direction: column;
}

.work-center__list-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.work-center__list-item p {
    color: var(--light-gray);
    margin-left: 10px;
}

.work-right {
}

/* CALC */

.calc {
    margin-bottom: 100px;
}

.calc-list {
    margin-top: 70px;
}

.calc-list__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.calc-list__item-content {
    margin-left: 31px;
}

.calc-list__item-content__title {
    font-size: 24px;
    color: var(--dark-gray);
    font-weight: 700;
    margin-bottom: 22px;
}

.calc-list__item-content__select {
    width: 700px;
    height: 65px;
    color: var(--dark-gray);
    padding: 25px 18px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
}

.calc-list__item-content__selects {
    display: flex;
    gap: 15px;
}

.calc-list__item-content__selects-item {
    width: 347px;
    height: 65px;
    border-radius: 6px;
    border: 1px solid #E1E1E1;
    padding: 15px;
}

.calc-list__item-content__card {
    width: 710px;
    height: 194px;
    background-color: var(--gray);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 33px;
    background-image: url('../img/taxi-credit-1920/calc-card.png');
    margin-top: 35px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
}

.card-title {
    font-size: 20px;
    max-width: 35%;
}

.card-price {
}

.card-price__main {
    color: var(--light-gray);
    font-size: 16px;
}

.card-price__credit {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-gray);
}

.calc-btn {
    padding: 25px 283px;
}

.calc-input {
    margin-bottom: 10px;
}

.calc-desc {
    font-size: 13px;
    color: var(--light-gray);
    max-width: 65%;
    margin-top: 16px;
}

@media screen and (max-width: 768px) {
    .calc-list__item-content__card {
        width: 100%;
        background-size: 70%;
    }

    .card-title {
        font-size: 13px;
    }

    .card-price__main {
        font-size: 12px;
    }

    .card-price__credit {
        font-size: 14px;
    }

    .calc-list__item-content__selects {
        flex-direction: column;
        width: 100%;
    }

    .calc-list__item-content__select {
        width: 100%;
    }

    .advantages-list__top {
        justify-content: space-between;
    }

    .advantages__line {
        display: none;
    }

    .autos-select {
        height: 100%;
    }

    .autos-select__left {
        flex-direction: column;
    }

    .autos-select__left-btn {
        margin-bottom: 5px;
    }

    .select__right {
        display: flex;
        flex-direction: column;
    }

    .autos-select__right select {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 426px) {
    .calc-btn {
        padding: 25px 40px;
    }

    .calc-list__item {
        display: flex;
        flex-direction: column;
    }

    .calc-list__item img {
        display: none;
    }

    .calc-list__item-content {
        max-width: 80%;
    }

    .calc-list__item-content__selects-item {
        width: 100%;
    }

    .calc-list__item-content input {
        width: 85%;
    }

    .autos-select__right {
        padding-left: 25%;
    }
}

/* ADVANTAGES */

/* Benefits */

.benefits {
    padding: 50px 0;
}

.benefits__list {
    display: flex;
    flex-direction: row;
    gap: 20px; /* gap - расстояние между элементами */
    flex-wrap: wrap; /* wrap - перенос элементов на новую строку */
}

.benefits__item {
    background: #F7F8F8;
    border-radius: 10px;
    padding: 20px;
    max-width: 32.333%;
    min-width: 32.333%;
}

.benefits__card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    max-width: 32.333%;
    min-width: 32.333%;
}

.benefits__card__img img {
    background: no-repeat center center;

}

.line {
    border: 1px solid #E1E1E1;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* terms */

.terms {
    padding: 50px 0;
}

.terms__list {
    display: flex;
    flex-direction: row;
    gap: 20px; /* gap - расстояние между элементами */
    flex-wrap: wrap; /* wrap - перенос элементов на новую строку */
    justify-content: space-between;

}

.doc {
    width: 40%;
}

.terms_buy {
    width: 55%;
    border-right: 1px solid #E1E1E1;
}

.buy {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.buy__terms__list {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    /* or 32px */

    /* gray */

    color: #737373;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buy__terms__list li {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.main__list {
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 426px) {
    .main__list {
        flex-direction: column;
    }

}

/* trade in  */

.future_auto {
    background: #EFF0F0;
    border-radius: 25px;
    padding: 50px 130px;
    width: 100%;
}

.future_auto__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* wrap - перенос элементов на новую строку */
    justify-content: space-between;
}

.future_auto__item {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.future_select {
    width: 80%;
    margin-bottom: 10px;
}

.price__list {
    min-width: 250px;
    padding-top: 50px;
}

.red_price {
    background: rgba(202, 1, 0, 1);
    border-radius: 11px;
    max-width: 150px;
    text-align: end;
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px 0 0;
}

/* credit section  */
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row_ {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row_.future_select {
    width: 40%;
}

.future__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credit_btn {
    max-height: 30px;
    padding: 5px 20px;
    transform: translateY(12px);
    margin-left: 15px;
}

.left-X-100 {
    transform: translateX(-100px);
    max-width: 440px;
    width: 440px;
    max-height: 270px;
    height: 270px;
}

.discount_auto {
    color: rgba(194, 194, 196, 1);
    transform: translateY(18px);
}

.opacity_0 {
    opacity: 0;
}

.input_ {
    width: 80%;
    padding: 10px;
}

@media screen and (max-width: 770px) {
    .terms__list {
        flex-direction: column;
    }

    .terms_buy {
        width: 100%;
        border-right: none;
    }

    .doc {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .future_auto {
        padding: 20px 10px;
    }

    .future_auto__list {
        flex-direction: column;
    }

    .future_auto__item {
        width: 100%;
    }

    .future_select {
        width: 100%;
    }

    .future__content {
        flex-direction: column-reverse;
    }

    .left-X-100 {
        transform: translateX(0px);
        max-width: 320px;
        max-height: 200px;
        border-radius: 15px;
    }

    .price__list {
        padding-top: 0;
        text-align: -webkit-center;
    }

    .content {
        flex-direction: column;
    }

    .credit_btn {
        transform: translateY(0px);
        margin: 50px;
    }

    .discount_auto {
        transform: translateY(8px);
    }

    .opacity_0 {
        display: none;
    }

    .input_ {
        width: 100%;
        margin-bottom: 10px;
    }

    .benefits__list {
        flex-direction: column;
    }

    .benefits__item {
        max-width: 100%;
    }

    .terms__list {
        flex-direction: column;
    }

    .terms_buy {
        border-right: none;
        width: 100%;
    }

    .buy {
        flex-direction: column;
    }
}

