{% extends "admin/base.html" %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}
{% block extrastyle %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}
{% block nav-global %}{% endblock %}
{% block footer %}
    <div id="footer"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_brand').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#id_model').empty(); // remove old options if any present in select
                        $('#id_model').append('<option value="">Выберите модель</option>');
                        // delete disabled
                        $('#id_model').removeAttr('disabled');
                        $('#id_generation').empty(); // remove old options if any present in select
                        $('#id_generation').append('<option value="">Выберите поколение</option>');
                        $('#auto_id').empty(); // remove old options if any present in select
                        $('#auto_id').append('<option value="">Выберите автомобиль</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#id_model').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#id_model').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '{% url 'get_generations' %}',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#id_generation').empty(); // remove old options if any present in select
                        $('#id_generation').append('<option value="">Выберите поколение</option>');
                        for (var i = 0; i < data["generations"].length; i++) {
                            $('#id_generation').append('<option value="' + data["generations"][i]["id"] + '">' + data["generations"][i]["title"] + ' </option>');
                        }
                    }
                });
            }); // end model change
        });
    </script>

{% endblock footer %}