{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/kredit-rassr.css' %}">
{% endblock %}
{% block content %}
    <style>
        .messages {
            padding: 10px;
            margin-bottom: 20px;
        }

        .messages .success {
            background-color: #dff0d8;
            border-color: #d0e9c6;
            color: #3c763d;
            padding: 15px;
            width: 250px;
            border-radius: 15px;
        }

        .messages .warning {
            background-color: #fcf8e3;
            border-color: #faebcc;
            color: #8a6d3b;
            padding: 15px;
            width: 250px;
            border-radius: 15px;
        }
    </style>

    <main class="main">
        <section class="credit">
            <div class="credit__wrapper">
                <div class="_container">
                    <p class="backlink-p">
                        <a href="{% url 'index' %}" class="back-link">Главная / </a>
                        Кредит и рассрочка
                    </p>
                    <p class="page__title">
                        Кредит и рассрочка
                    </p>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                    <form method="post" class="credit__form">
                        {% csrf_token %}
                        <h2 class="credit__top-heading">Заявка на автокредит</h2>
                        <div class="credit__main">
                            <div class="credit__select-group">
                                <select class="credit__select select" data-state="" name="brand" id="brand_id">
                                    <option value="0">Марка</option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.title }}</option>
                                    {% endfor %}
                                </select>
                                <select class="credit__select select" data-state="" disabled name="model" id="model_id">
                                    <option value="0">Модель</option>
                                </select>
                                <select class="credit__select select" data-state="" disabled name="car"
                                        id="auto_id">
                                    <option value="0">Авто</option>
                                </select>
                            </div>
                            <div class="credit__auto">
                                <div class="jc-spb">
                                    <span class="credit__price -bold" id="current_price">1 615 000&nbsp;&#8381</span>
                                    <span class="credit__benefit -accent -bold">Выгода 300 000&nbsp;&#8381</span>
                                </div>

                                <p class="credit__last-price" id="old_price">1 915 000&nbsp;&#8381</p>
                                <img src="{% static 'img/secret-car.png' %}" alt="" id="image"
                                     style="margin-top: 30px; max-width: 400px;">
                            </div>

                            <span class="credit__line credit__first-line"></span>

                            <div class="credit__params">
                                <div class="credit__slider-term">
                                    <div class="jc-spb">
                                        <p>Срок кредита, мес.</p>
                                        <span id="term-irs-from"></span>
                                    </div>
                                    <input type="text" class="js-range-slider-term" name="credit_term" value=""/>
                                </div>

                                <div class="credit__slider-sum">
                                    <div class="jc-spb">
                                        <p>Первоначальный взнос</p>
                                        <span id="fee-irs-from"></span>
                                    </div>
                                    <input type="text" class="js-range-slider-fee" value=""/>
                                </div>

                                <span class="fee-text">Ручной ввод, руб</span>
                                <input type="number" placeholder="0" class="fee-input input" id=""
                                       name="initial_payment">
                                <select name="is_checked" hidden>
                                    <option value="false">false</option>
                                </select>
                            </div>
                        </div>

                        <span class="credit__line"></span>

                        <div class="credit__send">
                            <h3>Получить выгоду <span class="-accent">300 000&nbsp;&#8381</span></h3>
                            <input type="text" placeholder="Ваше имя" class="input" id="" name="name">
                            <input type="text" placeholder="Ваш телефон" class="input" id="" name="phone">
                            <button class="button">Получить предложение</button>
                            <span class="credit__note">
								Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
								<a>персональных данных</a>
							</span>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="partners">
            <div class="_container">
                <h2 class="partners__heading">Банки-партнеры</h2>
            </div>
            <div class="partners__container _container">
                <div class="slider-swiper" data-slides="1">
                    <div class="slider-swiper__item">
                        <div class="partners__slide">
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        $(document).ready(function () {
            $('#brand_id').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id').empty(); // remove old options if any present in select
                        $('#model_id').append('<option value="">Выберите модель</option>');
                        // delete disabled
                        $('#model_id').removeAttr('disabled');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_cars_by_model/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#auto_id').empty(); // remove old options if any present in select
                        $('#auto_id').append('<option value="">Выберите автомобиль</option>');
                        // delete disabled
                        $('#auto_id').removeAttr('disabled');
                        for (var i = 0; i < data["cars"].length; i++) {
                            $('#auto_id').append('<option value="' + data["cars"][i]["id"] + '">' + data["cars"][i]["brand__title"] + ' ' + data["cars"][i]["model__title"] + ' ' + data["cars"][i]["generation__title"] + ' ' + data["cars"][i]["modification__title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#auto_id').click(function () {
            var auto_id = $(this).val();
            $.ajax({
                url: '/cars/get_car/',
                data: {
                    'car': auto_id
                },
                success: function (data) {
                    $('#old_price').text(data["car"][0]["price"] + 300000 + ' ₽');
                    $('#current_price').text(data["car"][0]["price"] + ' ₽');
                    $('#image').attr('src', data["car"][0]["image"]);
                }
            });
        });
        $('#btn_new_car').click(function () {
            var brand_id = $('#brand_id').val();
            var model_id = $('#model_id').val();
            var generation_id = $('#generation_id').val();
            $.ajax({
                url: '/cars/get_new_car/',
                data: {
                    'brand_id': brand_id,
                    'model_id': model_id,
                    'generation_id': generation_id
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}