{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/kredit-rassr.css' %}">
    <link rel="stylesheet" href="{% static 'css/taxi-credit.css' %}">
{% endblock %}
{% block content %}
    <style>
        .title {
            font-size: 24px;
            line-height: 28px;
        }

        .messages {
            padding: 10px;
            margin-bottom: 20px;
        }

        .messages .success {
            background-color: #dff0d8;
            border-color: #d0e9c6;
            color: #3c763d;
            padding: 15px;
            width: 250px;
            border-radius: 15px;
        }

        .messages .warning {
            background-color: #fcf8e3;
            border-color: #faebcc;
            color: #8a6d3b;
            padding: 15px;
            width: 250px;
            border-radius: 15px;
        }

        .advantages {
            margin: 0;
        }

        .card-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            justify-content: center;
        }

        .card_ {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;
            justify-content: center;

        }

        .card_ img {
            display: block;
            margin: 0 auto;
        }

        .card_ .text {
            text-align: center;
        }


        .card_::after {
            content: "";
            position: absolute;
            width: 120px;
            height: 1.5px;
            background-color: #E5E5E5;
            bottom: 160px;
            left: 260px;
        }

        .card_:last-child::after {
            display: none;
        }

        @media screen and (max-width: 1024px) {
            .card_::after {
                display: none;
            }
        }


        @media (max-width: 1024px) {
            .card-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 768px) {
            .card-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 426px) {
            .card-container {
                grid-template-columns: repeat(2, 1fr);

            }

            .card_ img {
                height: 46px;
            }

        }

        .benefits__item {
            display: flex;
            flex-direction: column;
            max-width: 23.333%;
            min-width: 23.333%;
        }

        .benefits__card {
            gap: 0;
        }

        @media screen and (max-width: 426px) {
            .benefits__item {
                max-width: 100%;
                min-width: 100%;
            }

        }

        @media screen and (max-width: 377px) {
            .benefits__card {
                flex-direction: column;
                max-width: 100%;
                min-width: 100%;
                align-items: center;
                text-align: center;
            }
        }
    </style>
    <div class="container">
        <p class="backlink-p">
            <a href="{% url 'index' %}" class="back-link">Главная / </a>
            Кредит и рассрочка
        </p>
        <p class="page__title">
            Кредит и рассрочка
        </p>
    </div>
    <main class="main">
        <section class="advantages">
            <div class="container">
                <p class="title -bold">
                    Преимущества программы
                </p>
                <div class="card-container">
                    {% for advantage in advantages %}
                        <div class="card_">
                            <img src="{{ advantage.image.url }}" alt="Card Image 1">
                            <div class="">
                                <h2 class="-bold" style="padding: 20px;">{{ advantage.title }}</h2>
                                <p class="text">{{ advantage.description }}.</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section> <!-- advantages -->

        <section class="credit">
            <div class="credit__wrapper">
                <div class="_container">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                    <form method="post" class="credit__form">
                        {% csrf_token %}
                        <h2 class="credit__top-heading">Заявка на автокредит</h2>
                        <div class="credit__main">
                            <div class="credit__select-group">
                                <select class="credit__select select" data-state="" name="brand" id="brand_id">
                                    <option value="0">Марка</option>
                                    {% for brand in brands %}
                                        <option value="{{ brand.id }}">{{ brand.title }}</option>
                                    {% endfor %}
                                </select>
                                <select class="credit__select select" data-state="" disabled name="model" id="model_id">
                                    <option value="0">Модель</option>
                                </select>
                                <select class="credit__select select" data-state="" disabled name="car"
                                        id="auto_id">
                                    <option value="0">Авто</option>
                                </select>
                            </div>
                            <div class="credit__auto">
                                <div class="jc-spb">
                                    <span class="credit__price -bold" id="current_price">1 615 000&nbsp;&#8381</span>
                                    <span class="credit__benefit -accent -bold">Выгода 300 000&nbsp;&#8381</span>
                                </div>

                                <p class="credit__last-price" id="old_price">1 915 000&nbsp;&#8381</p>
                                <img src="{% static 'img/secret-car.png' %}" alt="" id="image"
                                     style="margin-top: 30px; max-width: 400px;">
                            </div>

                            <span class="credit__line credit__first-line"></span>

                            <div class="credit__params">
                                <div class="credit__slider-term">
                                    <div class="jc-spb">
                                        <p>Срок кредита, мес.</p>
                                        <span id="term-irs-from"></span>
                                    </div>
                                    <input type="text" class="js-range-slider-term" name="credit_term" value=""/>
                                </div>

                                <div class="credit__slider-sum">
                                    <div class="jc-spb">
                                        <p>Первоначальный взнос</p>
                                        <span id="fee-irs-from"></span>
                                    </div>
                                    <input type="text" class="js-range-slider-fee" value=""/>
                                </div>

                                <span class="fee-text">Ручной ввод, руб</span>
                                <input type="number" placeholder="0" class="fee-input input" id=""
                                       name="initial_payment">
                                <select name="is_checked" hidden>
                                    <option value="false">false</option>
                                </select>
                            </div>
                        </div>

                        <span class="credit__line"></span>

                        <div class="credit__send">
                            <h3>Получить выгоду <span class="-accent">300 000&nbsp;&#8381</span></h3>
                            <input type="text" placeholder="Ваше имя" class="input" id="" name="name">
                            <input type="text" placeholder="Ваш телефон" class="input" id="" name="phone">
                            <button class="button">Получить предложение</button>
                            <span class="credit__note">
								Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
								<a>персональных данных</a>
							</span>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="benefits">
            <div class="container">
                <p class="title -bold">Преимущества автокредита </p>
                <div class="benefits__list">
                    {% for benefit in benefits %}

                        <div class="benefits__item">
                            <div class="benefits__card">
                                <div class="benefits__card__img">
                                    <img src="{{ benefit.image.url }}" alt="{{ benefit.title }}">
                                </div>
                                <div class="benefits__card__desc">
                                    <div style="min-width: 150px; max-width: 180px;">
                                        {{ benefit.description }}
                                    </div>
                                </div> <!-- benefits__card__desc -->
                            </div> <!-- benefits__card -->
                        </div> <!-- benefits__item -->

                        <div class="benefits__item">
                            <div class="benefits__card">
                                <div class="benefits__card__img">
                                    <img src="{{ benefit.image.url }}" alt="{{ benefit.title }}">
                                </div>
                                <div class="benefits__card__desc">
                                    <div style="min-width: 150px; max-width: 180px;">
                                        {{ benefit.description }}
                                    </div>
                                </div> <!-- benefits__card__desc -->
                            </div> <!-- benefits__card -->
                        </div> <!-- benefits__item -->


                        <div class="benefits__item">
                            <div class="benefits__card">
                                <div class="benefits__card__img">
                                    <img src="{{ benefit.image.url }}" alt="{{ benefit.title }}">
                                </div>
                                <div class="benefits__card__desc">
                                    <div style="min-width: 150px; max-width: 180px;">
                                        {{ benefit.description }}
                                    </div>
                                </div> <!-- benefits__card__desc -->
                            </div> <!-- benefits__card -->
                        </div> <!-- benefits__item -->

                        <div class="benefits__item">
                            <div class="benefits__card">
                                <div class="benefits__card__img">
                                    <img src="{{ benefit.image.url }}" alt="{{ benefit.title }}">
                                </div>
                                <div class="benefits__card__desc">
                                    <div style="min-width: 150px; max-width: 180px;">
                                        {{ benefit.description }}
                                    </div>
                                </div> <!-- benefits__card__desc -->
                            </div> <!-- benefits__card -->
                        </div> <!-- benefits__item -->

                    {% endfor %}
                </div>
            </div>
        </section> <!-- benefits -->

        <section class="terms">
            <div class="container">
                <div class="terms__list">
                    <div class="terms__item terms_buy">
                        <p class="title">
                            Условия покупки
                        </p>
                        <div class="buy">
                            <ul class="buy__terms__list">
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Взнос 0%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Срок кредита до 5 лет</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Ставка от 9,9%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Минимальный пакет документов</span>
                                </li>
                            </ul>
                            <ul class="buy__terms__list">
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Взнос 0%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Срок кредита до 5 лет</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Ставка от 9,9%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Минимальный пакет документов</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vertical_line"></div>
                    <div class="terms__item doc">
                        <p class="title">
                            Необходимые документы
                        </p>

                        <div class="buy">
                            <ul class="buy__terms__list">
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Взнос 0%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Срок кредита до 5 лет</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Ставка от 9,9%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Минимальный пакет документов</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="credit_banner">
            <div class="container">
                <div class="credit_banner__inner">
                    <p class="title -bold title_credit">Условия получения кредита</p>
                    <div class="credit_list">
                        <div class="left_side left_side_trans">
                            <div class="left__list">
                                <div class="left_item">
                                    <div class="left_item__img">
                                        <img src="{% static 'img/traid/accept.svg' %}" alt="accept">
                                    </div>
                                    <div class="left_item__desc">
                                        <p class="title-s">Без подтверждения дохода</p>
                                        <p class="text">Чтобы получить кредит, вам нужны паспорт и водительское
                                            удостоверение. Банк не требует подтверждение дохода, информацию о
                                            продавце и
                                            оформление КАСКО.</p>
                                    </div>
                                </div>
                                <div class="left_item">
                                    <div class="left_item__img">
                                        <img src="{% static 'img/traid/accept.svg' %}" alt="accept">
                                    </div>
                                    <div class="left_item__desc">
                                        <p class="title-s">Без сложностей с регистрацией</p>
                                        <p class="text">Для регистрации автомобиля после покупки нужны только
                                            копии
                                            договора
                                            купли-продажи и паспорта транспортного средства. Да, это всё..</p>
                                    </div>
                                </div>
                                <div class="left_item">
                                    <div class="left_item__img">
                                        <img src="{% static 'img/traid/accept.svg' %}" alt="accept">
                                    </div>
                                    <div class="left_item__desc">
                                        <p class="title-s">Срок кредита</p>
                                        <p class="text">Чтобы получить кредит, вам нужны паспорт и водительское
                                            удостоверение. Банк не требует подтверждение дохода, информацию о
                                            продавце и
                                            оформление КАСКО.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right_side">
                            <div class="right_list">
                                <div class="right_item">
                                    <img src="{% static 'img/credit/skoda.svg' %}" alt="skoda" class="skoda">
                                </div>
                                <div class="right_item">
                                    <img src="{% static 'img/credit/hunday.svg' %}" alt="huyday" class="huyday">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="benefits">
            <div class="container">
                <p class="title -bold">Преимущества автокредита</p>
                <div class="benefits__list">
                    {% for benefit in benefits %}
                        <div class="benefits__item">
                            <div class="benefits__card">
                                <div class="benefits__card__img">
                                    <img src="{{ benefit.image.url }}" alt="{{ benefit.title }}">
                                </div>
                                <div class="benefits__card__desc">
                                    <div style="min-width: 150px; max-width: 180px;">
                                        {{ benefit.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="partners">
            <div class="_container">
                <h2 class="partners__heading">Банки-партнеры</h2>
            </div>
            <div class="partners__container _container">
                <div class="slider-swiper" data-slides="1">
                    <div class="slider-swiper__item">
                        <div class="partners__slide">
                            {% for bank in banks %}
                                <div class="partners__item">
                                    <img src="{{ bank.image.url }}" alt="{{ bank.title }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        $(document).ready(function () {
            $('#brand_id').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id').empty(); // remove old options if any present in select
                        $('#model_id').append('<option value="">Выберите модель</option>');
                        // delete disabled
                        $('#model_id').removeAttr('disabled');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_cars_by_model/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#auto_id').empty(); // remove old options if any present in select
                        $('#auto_id').append('<option value="">Выберите автомобиль</option>');
                        // delete disabled
                        $('#auto_id').removeAttr('disabled');
                        for (var i = 0; i < data["cars"].length; i++) {
                            $('#auto_id').append('<option value="' + data["cars"][i]["id"] + '">' + data["cars"][i]["brand__title"] + ' ' + data["cars"][i]["model__title"] + ' ' + data["cars"][i]["generation__title"] + ' ' + data["cars"][i]["modification__title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#auto_id').click(function () {
            var auto_id = $(this).val();
            $.ajax({
                url: '/cars/get_car/',
                data: {
                    'car': auto_id
                },
                success: function (data) {
                    $('#old_price').text(data["car"][0]["price"] + 300000 + ' ₽');
                    $('#current_price').text(data["car"][0]["price"] + ' ₽');
                    $('#image').attr('src', data["car"][0]["image"]);
                }
            });
        });
        $('#btn_new_car').click(function () {
            var brand_id = $('#brand_id').val();
            var model_id = $('#model_id').val();
            var generation_id = $('#generation_id').val();
            $.ajax({
                url: '/cars/get_new_car/',
                data: {
                    'brand_id': brand_id,
                    'model_id': model_id,
                    'generation_id': generation_id
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}