{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/taxi-credit.css' %}">
{% endblock %}
{% block js %}
{% endblock %}
{% block top-banner %}

{% endblock %}
{% block content %}
    <style>
        .messages {
            padding: 10px;
            margin-bottom: 20px;
        }

        .messages .success {
            background-color: #dff0d8;
            border-color: #d0e9c6;
            color: #3c763d;
            padding: 15px;
            width: 250px;
            border-radius: 15px;
        }

        .messages .warning {
            background-color: #fcf8e3;
            border-color: #faebcc;
            color: #8a6d3b;
            padding: 15px;
            width: 250px;
            border-radius: 15px;
        }
    </style>
    <main class="main">
        <section class="hero" style="background-image: url('{% static "img/pics/trade-in.jpg" %}')">
            <div class="container">
                <p class="backlink-p">
                    <a href="{% url 'index' %}" class="back-link">Главная / </a>
                    Госпрограмма Trade-in
                </p>
                <div class="main__title">
                    <div class="main__list">
                        <div class="main__item">
                            <h1 class="hero-title">
                                Госпрограмма Trade-in
                            </h1>

                            <p class="hero-desc"
                               style="color: rgba(255, 255, 255, 1); font-size: 20px; line-height: 23px;">
                                Обменяйте свой автомобиль
                                на новый с максимальной скидкой
                            </p>
                        </div>
                        <div class="main__item up-to">
                            <p class="hero-title discount">
                                -10%
                            </p>
                            <p class="hero-desc go-right">
                                От стоимости
                                автомобиля
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hero-adv" style="margin-top: 40px;">
                    <div class="hero-adv__item">
                        <img src="{% static 'img/traid/traid_in.svg' %}" alt="">
                        <p style="font-size: 16px; line-height: 19px; color: #FFFFFF;">Установка любого дополнительного
                            оборудования</p>
                    </div>
                    <div class="hero-adv__item">
                        <img src="{% static 'img/traid/gift.svg' %}" alt="">
                        <p style="font-size: 16px; line-height: 19px; color: #FFFFFF;">Каждому покупателю ТО 0 и Т0-1 в
                            подарок!</p>
                    </div>

                    <div class="hero-adv__item">
                        <img src="{% static 'img/traid/card.svg' %}" alt="">
                        <p style="font-size: 16px; line-height: 19px; color: #FFFFFF;">Бонусная карта на сервисное
                            обслуживание</p>
                    </div>
                </div>
                <div class="hero__special" style="display: none;">
                    <div class="hero__special-left">
                        <p>Получите специальную цену</p>
                    </div>
                    <div class="hero__special-right">
                        <div class="hero__special-right__top">
                            {% csrf_token %}
                            <input type="text" name="name" id="name" placeholder="Ваше имя">
                            <input type="tel" name="phone" id="phone" placeholder="Ваш телефон">
                            <button type="button" class="hero__special-right__btn red-btn" id="btn_callback">получить
                                предложение
                            </button>
                        </div>
                        <p>Нажимая кнопку “Получить предложение” Вы даете согласие на обработку своих персональных
                            данных</p>
                    </div>
                </div>
            </div>
        </section> <!-- hero -->
        <section class="advantages">
            <div class="container">
                <p class="title -bold">
                    Преимущества покупки в trade-in
                </p>
                <div class="advantages-list">
                    <div class="advantages-list__top">
                        <div class="advantages-list__item">
                            <div class="" style="padding: 20px; width: 100%;">
                                <img src="{% static 'img/traid/clock.svg' %}" alt="">
                                <p>Экономия вашего времени</p>
                                <div>
                                    на поиски покупателя, договоренностях и т.д.
                                </div>
                            </div>
                        </div> <!-- advantages-list__item -->

                        <div class="advantages-list__item">
                            <div class="" style="padding: 20px; width: 100%;">
                                <img src="{% static 'img/traid/doc.svg' %}" alt="">
                                <p>Экономия вашего времени</p>
                                <div>
                                    на поиски покупателя, договоренностях и т.д.
                                </div>
                            </div>
                        </div> <!-- advantages-list__item -->

                        <div class="advantages-list__item">
                            <div class="" style="padding: 20px; width: 100%;">
                                <img src="{% static 'img/traid/safe.svg' %}" alt="">
                                <p>Экономия вашего времени</p>
                                <div>
                                    на поиски покупателя, договоренностях и т.д.
                                </div>
                            </div>
                        </div>

                        <div class="advantages-list__item">
                            <div class="" style="padding: 20px; width: 100%;">
                                <img src="{% static 'img/traid/car_money.svg' %}" alt="">
                                <p>Экономия вашего времени</p>
                                <div>
                                    на поиски покупателя, договоренностях и т.д.
                                </div>
                            </div>
                        </div>  <!-- advantages-list__item -->
                        <div class="advantages-list__item">
                            <div class="" style="padding: 20px; width: 100%;">
                                <img src="{% static 'img/traid/comfort.svg' %}" alt="">
                                <p>Экономия вашего времени</p>
                                <div>
                                    на поиски покупателя, договоренностях и т.д.
                                </div>
                            </div>
                        </div>
                        <div class="advantages-list__item">
                            <div class="" style="padding: 20px; width: 100%;">
                                <img src="{% static 'img/traid/monitor.svg' %}" alt="">
                                <p>Экономия вашего времени</p>
                                <div>
                                    на поиски покупателя, договоренностях и т.д.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- advantages -->

        <section class="trade">
            <div class="container">
                <form method="post" class="trade__form">
                    {% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <section class="future_auto">
                        <div class="future_auto__list">
                            <div class="future_auto__item">
                                <p class="title -bold">Ваш будущий автомобиль</p>
                                <select class="select future_select" id="brand_id">
                                    <option class="select2-results__option" value="">Марка</option>
                                    {% for brand in brands %}
                                        <option class="select2-results__option"
                                                value="{{ brand.pk }}"> {{ brand }}</option>
                                    {% endfor %}
                                </select>
                                <select class="select future_select" id="model_id" disabled>
                                    <option value="" class="select2-results__option">Модель</option>
                                </select>
                                <select class="select future_select" id="auto_id" name="future_car" disabled>
                                    <option value="" class="select2-results__option">Автомобиль</option>
                                </select>
                            </div>
                            <div class="future_auto__item">
                                <div>
                                    <p id="autoname" class="title"
                                       style="font-size: 16px; vertical-align: bottom; direction: rtl; margin-top: 20px; color: #262626;">
                                        Kia Comfort 1.4 100
                                        л.с. 6MT 2WD (2020)
                                    </p>
                                    <div class="future__content">
                                        <img id="image" src="{% static 'img/traid/kia.svg' %}" alt="kia"
                                             class="left-X-100"
                                        >
                                        <div class="price__list">
                                            <div class="price__item">
                                                <p style="font-size: 14px; font-weight: 400; line-height: 13px; color: #737373;">
                                                    Цена со скидками</p>
                                                <p id="current_price"
                                                   style="font-weight: bold; color: #262626; font-size: 24px; line-height: 24px;">
                                                    2 200 000 ₽</p>
                                            </div>
                                            <div class="price__item">
                                                <p style="font-size: 14px;line-height: 13px; color: #737373;">Базовая
                                                    цена</p>
                                                <p id="old_price"
                                                   style="font-size: 18px;line-height: 18px;color: #737373;">
                                                    2 500 000 ₽
                                                </p>
                                            </div>
                                            <div class="price__item">
                                                <div class="red_price">
                                                    <p>Платеж</p>
                                                    <p style="font-weight: bold; padding-bottom: 5px;">70 000 ₽/мес.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="line"></div>
                    <section class="future_auto">
                        <div class="container">
                            <div class="content">

                                <div style="display: flex;">
                                    <h3 class="title -bold" style="color: rgba(173, 173, 176, 1);">Купить в кредит</h3>
                                    <div class="button credit_btn" id="credit_btn">
                                        Добавить
                                    </div>
                                </div>
                                <div style="display: flex;">
                                    <input type="checkbox" name="credit" id="credit_checkbox">
                                    <p class="discount_auto">Скидка от 70
                                        000 ₽</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="line"></div>
                    <section class="future_auto">
                        <div class="future_auto__list">
                            <div class="future_auto__item">
                                <p class="title -bold">Программа Trade-in</p>
                                <select class="select future_select" name="current_car_brand" id="brand_id_">
                                    <option class="select2-results__option" value="">Марка</option>
                                    {% for brand in brands %}
                                        <option class="select2-results__option"
                                                value="{{ brand.pk }}"> {{ brand }}</option>
                                    {% endfor %}
                                </select>
                                <select class="select future_select" id="model_id_" name="current_car_model">
                                    <option value="" class="select2-results__option">Модель</option>
                                </select>
                            </div>
                            <div class="future_auto__item">
                                <p class="title" style="color: #CA0100;">Скидка от 120 000 ₽ </p>
                                <div class="row_">
                                    <select class="select future_select" name="current_car_year">
                                        <option class="select2-results__option" value="">Год выпуска</option>
                                        {% for brand in years %}
                                            <option class="select2-results__option"
                                                    value="{{ brand }}"> {{ brand }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="select future_select" name="current_car_transmission">
                                        <option value="" class="select2-results__option">Трансмисия</option>
                                        {% for transmission in transmissions %}
                                            <option class="select2-results__option"
                                                    value="{{ transmission.pk }}"> {{ transmission }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="number" name="customer_price" placeholder="Ваша Цена" class="input"
                                       style="width: 100%;">
                            </div>
                        </div>
                    </section>
                    <div class="line"></div>
                    <section class="future_auto">
                        <div class="future_auto__list">
                            <div class="future_auto__item">
                                <p class="title -bold">Персональные данные</p>
                                <input type="text" name="name" placeholder="Ваша ФИО" class="input_ input">
                                <input type="text" name="phone" placeholder="Ваш номер телефона" class="input_ input"
                                       style="margin-top: 10px">
                            </div>
                            <div class="future_auto__item">
                                <p class="title opacity_0">Скидка от 120 000 ₽ </p>
                                <div class="row_">
                                    <select class="select future_select" style="width: 100%;" name="git">
                                        <option value="" class="select2-results__option">Выберите подарок</option>
                                        {% for transmission in gifts %}
                                            <option class="select2-results__option"
                                                    value="{{ transmission.pk }}"> {{ transmission }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button style="margin-top: 10px; background-color: #CA0100; border-radius: 5px; padding: 20px 0; color: #FFFFFF;">
                                    Получить лучшие условия
                                </button>
                            </div>
                            <p style="color: rgba(115, 115, 115, 1); margin-top: 15px;">Нажимая кнопку “Получить лучшие
                                условия” Вы даете
                                согласие на обработку своих
                                персональных данных
                            </p>
                        </div>

                    </section>
                </form>
            </div>
        </section>

        <section class="benefits">
            <div class="container">
                <p class="title -bold">Преимущество программы Trade-in</p>
                <div class="benefits__list">

                    <div class="benefits__item">
                        <div class="benefits__card">
                            <div class="benefits__card__img">
                                <img src="{% static 'img/traid/benefits_doc.svg' %}" alt="">
                            </div>
                            <div class="benefits__card__desc">
                                <p>Минимальный пакет документов</p>
                                <div>
                                    два комплекта ключей, ПТС, СТС, и паспорт владельца
                                </div>
                            </div> <!-- benefits__card__desc -->
                        </div> <!-- benefits__card -->
                    </div> <!-- benefits__item -->

                    <div class="benefits__item">
                        <div class="benefits__card">
                            <div class="benefits__card__img">
                                <img src="{% static 'img/traid/benefits_family.svg' %}" alt="">
                            </div>
                            <div class="benefits__card__desc">
                                <p>Минимальный пакет документов</p>
                                <div>
                                    два комплекта ключей, ПТС, СТС, и паспорт владельца
                                </div>
                            </div> <!-- benefits__card__desc -->
                        </div> <!-- benefits__card -->
                    </div> <!-- benefits__item -->

                    <div class="benefits__item">
                        <div class="benefits__card">
                            <div class="benefits__card__img">
                                <img src="{% static 'img/traid/benefits_time.svg' %}" alt="">
                            </div>
                            <div class="benefits__card__desc">
                                <p>Минимальный пакет документов</p>
                                <div>
                                    два комплекта ключей, ПТС, СТС, и паспорт владельца
                                </div>
                            </div> <!-- benefits__card__desc -->
                        </div> <!-- benefits__card -->
                    </div> <!-- benefits__item -->

                    <div class="benefits__item">
                        <div class="benefits__card">
                            <div class="benefits__card__img">
                                <img src="{% static 'img/traid/benefits_car.svg' %}" alt="">
                            </div>
                            <div class="benefits__card__desc">
                                <p>Минимальный пакет документов</p>
                                <div>
                                    два комплекта ключей, ПТС, СТС, и паспорт владельца
                                </div>
                            </div> <!-- benefits__card__desc -->
                        </div> <!-- benefits__card -->
                    </div> <!-- benefits__item -->

                    <div class="benefits__item">
                        <div class="benefits__card">
                            <div class="benefits__card__img">
                                <img src="{% static 'img/traid/girl.svg' %}" alt="">
                            </div>
                            <div class="benefits__card__desc">
                                <p>Минимальный пакет документов</p>
                                <div>
                                    два комплекта ключей, ПТС, СТС, и паспорт владельца
                                </div>
                            </div> <!-- benefits__card__desc -->
                        </div> <!-- benefits__card -->
                    </div> <!-- benefits__item -->

                    <div class="benefits__item">
                        <div class="benefits__card">
                            <div class="benefits__card__img">
                                <img src="{% static 'img/traid/benefits_price.svg' %}" alt="">
                            </div>
                            <div class="benefits__card__desc">
                                <p>Минимальный пакет документов</p>
                                <div>
                                    два комплекта ключей, ПТС, СТС, и паспорт владельца
                                </div>
                            </div> <!-- benefits__card__desc -->
                        </div> <!-- benefits__card -->
                    </div> <!-- benefits__item -->

                </div>
            </div>
        </section> <!-- benefits -->

        <div class="line"></div> <!-- line -->

        <section class="terms">
            <div class="container">
                <div class="terms__list">
                    <div class="terms__item terms_buy">
                        <p class="title">
                            Условия покупки
                        </p>
                        <div class="buy">
                            <ul class="buy__terms__list">
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Взнос 0%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Срок кредита до 5 лет</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Ставка от 9,9%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Минимальный пакет документов</span>
                                </li>
                            </ul>
                            <ul class="buy__terms__list">
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Взнос 0%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Срок кредита до 5 лет</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Ставка от 9,9%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Минимальный пакет документов</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vertical_line"></div>
                    <div class="terms__item doc">
                        <p class="title">
                            Необходимые документы
                        </p>

                        <div class="buy">
                            <ul class="buy__terms__list">
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Взнос 0%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Срок кредита до 5 лет</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Ставка от 9,9%</span>
                                </li>
                                <li>
                                    <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                    <span>Минимальный пакет документов</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="line"></div> <!-- line -->
    </main> <!-- main -->

    <script>
        $('#btn_callback').click(function () {
            // get data
            let name = document.getElementById('name').value; // get name from input field with id="elem1"
            let phone = document.getElementById('phone').value; // get phone from input field with id="elem2"

            if (!name || !phone) {
                alert('Заполните все поля!');
                return;
            }

            // ajax request
            $.ajax({
                url: '/{% url 'callback' %}/',
                type: 'GET',
                data: {
                    'name': name,
                    'phone': phone
                },
                success: function (data) {
                    alert('Спасибо за заявку! Мы свяжемся с вами в ближайшее время.')
                }
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            $('#brand_id').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id').empty(); // remove old options if any present in select
                        $('#model_id').append('<option value="">Выберите модель</option>');
                        // delete disabled
                        $('#model_id').removeAttr('disabled');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        $('#auto_id').empty(); // remove old options if any present in select
                        $('#auto_id').append('<option value="">Выберите автомобиль</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_cars_by_model/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#auto_id').empty(); // remove old options if any present in select
                        $('#auto_id').append('<option value="">Выберите автомобиль</option>');
                        // delete disabled
                        $('#auto_id').removeAttr('disabled');
                        for (var i = 0; i < data["cars"].length; i++) {
                            $('#auto_id').append('<option value="' + data["cars"][i]["id"] + '">' + data["cars"][i]["brand__title"] + ' ' + data["cars"][i]["model__title"] + ' ' + data["cars"][i]["generation__title"] + ' ' + data["cars"][i]["modification__title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#auto_id').click(function () {
            var auto_id = $(this).val();
            $.ajax({
                url: '/cars/get_car/',
                data: {
                    'car': auto_id
                },
                success: function (data) {
                    $('#autoname').text(data["car"][0]["brand__title"] + ' ' + data["car"][0]["model__title"] + ' ' + data["car"][0]["generation__title"] + ' ' + data["car"][0]["modification__title"]);
                    $('#old_price').text(data["car"][0]["price"] + 300000 + ' ₽');
                    $('#current_price').text(data["car"][0]["price"] + ' ₽');
                    $('#image').attr('src', '/assets/img/secret-car.png');
                }
            });
        });
        $('#btn_new_car').click(function () {
            var brand_id = $('#brand_id').val();
            var model_id = $('#model_id').val();
            var generation_id = $('#generation_id').val();
            $.ajax({
                url: '/cars/get_new_car/',
                data: {
                    'brand_id': brand_id,
                    'model_id': model_id,
                    'generation_id': generation_id
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#brand_id_').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id_').empty(); // remove old options if any present in select
                        $('#model_id_').append('<option value="">Выберите модель</option>');
                        // delete disabled
                        $('#model_id_').removeAttr('disabled');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id_').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id_').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_cars_by_model/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        for (var i = 0; i < data["cars"].length; i++) {
                            $('#auto_id').append('<option value="' + data["cars"][i]["id"] + '">' + data["cars"][i]["brand__title"] + ' ' + data["cars"][i]["model__title"] + ' ' + data["cars"][i]["generation__title"] + ' ' + data["cars"][i]["modification__title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#credit_btn').click(function () {
            var checkbox = $('#credit_checkbox').attr('checked');
            if (checkbox === 'checked') {
                $('#credit_checkbox').removeAttr('checked');
            } else {
                $('#credit_checkbox').attr('checked', 'checked');
            }
        });
    </script>

{% endblock content %}