<div class="reservation">
    <div class="reservation__left">
        <p class="title">
        <div class="thanks__title">Thank you for your order!</div>
        <div class="thanks__text">We will contact you shortly to confirm your order.</div>
        </p>
        <input type="text" class="input" name="name">
        <input type="text" class="input" name="phone">
    </div>
    <div class="reservation__right">
        <p class="title"></p>
        <input type="text" class="input" name="date">
        <input type="text" class="input" name="time">
    </div>
</div>