<div class="thanks">
    <div class="thanks__inner">
        <div class="thanks__header">
            <div class="thanks__logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="thanks__close">
                <img src="img/close.png" alt="close">
            </div>
        </div>
        <div class="thanks__body">
            <div class="thanks__title">Thank you for your order!</div>
            <div class="thanks__text">We will contact you shortly to confirm your order.</div>
        </div>
        <div class="thanks__footer">
            <button class="thanks__btn btn btn-danger">Continue shopping</button>
        </div>
    </div>
</div>