<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
<main class="main">
    <center>
        <nav class="main__nav">
            <a href="" class="main__nav-item">Каталог авто</a>
            <a href="{% url 'trade_in_create' %}" class="main__nav-item">Trade-in</a>
            <a href="{% url 'credit_request_create' %}" class="main__nav-item">Экспресс кредит</a>
            <a href="{% url 'contacts' %}" class="main__nav-item">Контакты</a>
        </nav>
        <h1 class="main__404">
            404
        </h1>

        <img src="{% static 'img/404-1920/kia-rio.png'%}" alt="" class="main-kia">

        <h2 class="main__title">
            Страница не найдена!
        </h2>
        <p class="main__subtitle">
            «Мы запустили новый сайт, сделав его удобным и информативным. <br>
            Возможно, запрашиваемая Вами страница была перенесена или удалена. <br>
            Вы можете позвонить нам и получить квалифицированную помощь наших специалистов»
        </p>
    </center>
</main>
</body>
</html>
<script>
    window.onload = function () {
        var box = document.getElementsByClassName('probeg__cards-item');
        var btn = document.getElementById('probeg__more');
        for (let i = 3; i < box.length; i++) {
            box[i].style.display = "none";
        }

        var countD = 3;
        btn.addEventListener("click", function () {
            var box = document.getElementsByClassName('probeg__cards-item');
            countD += 3;
            if (countD <= box.length) {
                for (let i = 0; i < countD; i++) {
                    box[i].style.display = "block";
                }
            }
            if (countD >= box.length) {
                btn.style.display = "none";
            }

        })
    }
</script>