<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../css/404.css">
</head>
<body>
<main class="main">
    <center>
        <nav class="main__nav">
            <a href="katalog-auto.html" class="main__nav-item">Каталог авто</a>
            <a href="trade-in.html" class="main__nav-item">Trade-in</a>
            <a href="express-credit.html" class="main__nav-item">Экспресс кредит</a>
            <a href="contacts.html" class="main__nav-item">Контакты</a>
        </nav>
        <h1 class="main__404">
            404
        </h1>

        <img src="../img/404-1920/kia-rio.png" alt="" class="main-kia">

        <h2 class="main__title">
            Страница не найдена!
        </h2>
        <p class="main__subtitle">
            «Мы запустили новый сайт, сделав его удобным и информативным. <br>
            Возможно, запрашиваемая Вами страница была перенесена или удалена. <br>
            Вы можете позвонить нам и получить квалифицированную помощь наших специалистов»
        </p>
    </center>
</main>
</body>
</html>