{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/burger+catalog.js' %}" defer></script>
    <script src="{% static 'js/slider.js' %}" defer></script>
    <link rel="icon" href="{{ favicon.favicon.url }}">
    <link rel="stylesheet" href="{% static 'files/range/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'files/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jQuery.Brazzers-Carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/jQuery.Brazzers-Carousel.min.css' %}">
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <script src="{% static 'js/vendors/jquery.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.js' %}"></script>
    {% block css %}

    {% endblock css %}
</head>
<body>


<!-- Header -->
{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}
<!-- end header -->
<!--top banner -->

{% block top-banner %}

{% endblock top-banner %}
<!-- end top banner -->
<!-- content -->
<!-- Модальное окно -->
<div class="modal_views modal" id="myModal">
    <div class="container_modal" style="border-radius: 25px;">
        <span class="close">&times;</span>
        <div class="modal-content" style="border-radius: 25px; height: 400px;">
            <div class="content_modal" style="background: url('{% static "img/city.svg" %}'); border-radius: 25px;">
                <div class="left_">
                    <p class="title -bold title_modal">Обратный звонок</p>
                    {% csrf_token %}
                    <label>
                        <input type="text" id="name_callback" name="name" class="input space-10" style="min-width: 300px;"
                               placeholder="Ваше Имя Фамилия">
                    </label>
                    <label>
                        <input type="text" id="phone_callback" name="phone" class="input space-10"
                               placeholder="Номер телефона" style="min-width: 300px;">
                    </label>
                    <button type="submit" class="button padding-20" id="send_callback" style="min-width: 300px;">Перезвоните мне</button>
                    <p class="info_text">
                        Нажимая кнопку <a href="{% url 'privacy' %}">“Перезвоните мне”</a>Вы даете согласие на обработку своих персональных данных
                    </p>
                </div>
                <div class="right_">
                    <div class="img_girl">
                        <img src="{% static 'img/girl.png' %}" alt="Тёлка">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="success_modal" class="modal modal_views">
    <div class="container_modal" style="border-radius: 25px;">
        <div class="modal-content success_modal" style="border-radius: 25px;">
            <div class="content_modal"
                 style="display: flex; flex-direction: column;text-align: center; align-items: center; padding: 60px; max-height: 250px;">
                <div class="left_">
                    <div class="top_success">
                        <img src="{% static 'img/rio_new--l.png' %}" alt="kia rio new"
                             style="max-width: 330px; transform: translateX(45px); z-index: 2;">
                        <img src="{% static 'img/ext-front_tcm--l.png' %}" alt="car2"
                             style="max-width: 150px; transform: translateX(-65px);">
                    </div>
                </div>
                <div class="right_success">
                    <p class="title -bold title_modal">Спасибо за обращение!</p>
                    <p class="info_text">
                        Наш менеджер свяжется с Вами в ближайшее время
                    </p>
                    <button type="submit" class="button padding-20" id="close_success_btn"
                            style="min-width: 75%; margin: 0 auto;">OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal_views modal">
    <div class="container_modal" style="border-radius: 25px;">
        <span class="close">&times;</span>
        <div class="modal-content" style="border-radius: 25px; height: 400px;">
            <div class="content_modal" style="background: url('{% static "img/city.svg" %}'); border-radius: 25px;">
                <div class="left_">
                    <p class="title -bold title_modal">Обратный звонок</p>
                    <label>
                        <input type="text" name="name" class="input space-10" placeholder="Ваше Имя Фамилия">
                    </label>
                    <label>
                        <input type="text" name="phone" class="input space-10" placeholder="Номер телефона">
                    </label>
                    <button type="submit" class="button padding-20" id="send_callback">Перезвоните мне</button>
                    <p class="info_text">
                        Нажимая кнопку <a href="{% url 'privacy' %}">“Перезвоните мне”</a> Вы даете согласие на обработку своих персональных данных
                    </p>
                </div>
                <div class="right_">
                    <div class="img_girl">
                        <img src="{% static 'img/girl.png' %}" alt="Тёлка">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block content %}

{% endblock content %}
<!-- end content -->
<!-- footer -->
{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}
<!-- footer end -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
<script type="text/javascript" src="{% static 'files/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/range/ion.rangeSlider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fslightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.Brazzers-Carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.Brazzers-Carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fslightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            responsiveClass: true,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false,
                    loop: true
                },
                600: {
                    items: 1,
                    nav: false,
                    loop: true
                },
                1000: {
                    items: 1,
                    nav: false,
                    loop: true


                }
            }
        })
    })
</script>
<script>

    $(document).ready(function () {
        $(".brazzer-dady").brazzersCarousel();
    });

</script>

<script>


</script>

</body>

</html>