{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Авто Салон</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/burger+catalog.js' %}" defer></script>
    <script src="{% static 'js/slider.js' %}" defer></script>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'files/range/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>


<!-- Header -->
{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}
<!-- end header -->
<!--top banner -->
{% block top-banner %}
    {% include 'include/top-banner.html' %}
{% endblock top-banner %}
<!-- end top banner -->
<!-- content -->
{% block content %}
    <section class="pick-up">
        <div class="pick-up__container _container">
            <div class="pick-up__content-wrapper">
                <ul class="pick-up__list js-resizable-list">
                    {% for brand in brands %}
                        {% if brand.icon %}
                            <li><img src="{{ brand.icon.url }}" alt=""><a href="">{{ brand.title }}</a></li>
                        {% else %}
                            <li><img src="{% static 'img/logo/skoda.png' %}" alt=""><a href="">{{ brand.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <form action="" class="pick-up__form">
                    <div class="pick-up__form-inner">
                        <h4>Быстрый подбор авто</h4>
                        <div class="pick-up__slider-inscription">
                            <div>
                                Цена
                            </div>
                            <div class="pick-up__range-text">
                                <span id="pick-up-irs-from"></span>
                                &nbsp;-&nbsp;
                                <span id="pick-up-irs-to"></span>
                            </div>
                        </div>
                        <input type="text" class="js-range-slider" name="my_range" value=""/>
                        <div class="pick-up__flex">
                            <div class="pick-up__body-type select" data-state="">
                                <div class="select__title">Тип кузова</div>
                                <div class="select__content">
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Седан</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Универсал</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Хэтчбэк</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Лифтбэк</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Минивен</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Купе</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Кроссовер</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">Внедорожник</label>
                                </div>
                            </div>
                            <div class="pick-up__transmission select" data-state="">
                                <div class="select__title">Коробка</div>
                                <div class="select__content">
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">МКПП</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">АКПП</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">АКПП - робот</label>
                                    <input type="radio" class="select__input">
                                    <label for="" class="select__label">АКПП - вариатор</label>
                                </div>
                            </div>
                            <button class="pick-up__button button">Показать&nbsp;<span>73</span></button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="auto">
        <div class="_container">
            <h2 class="auto__heading">Автомобили в наличии с ПТС</h2>
        </div>
        <div class="auto__container _container">
            <div class="auto__list">
                <div class="auto__item">
                    <div class="card">
                        <div class="card__flex">
                            <div class="card__title">
                                Skoda Octavia
                                <nobr>1.6 MPI MT</nobr>
                                Active
                            </div>
                            <div class="card__icons">
                                <i class="card__likes likes-icon"></i>
                                <i class="card__compare compare-icon"></i>
                            </div>
                        </div>

                        <div class="card__offer card__polygon">Предложение дня</div>
                        <div class="card__offer-desc -accent">Выгода
                            <nobr>до 300 000 &#8381</nobr>
                        </div>

                        <div class=" card__flex">
                            <div class="card__benefits">
                                <div class="gift gift--l">
                                    Оборудование
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    КАСКО
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    Комплект резины
                                    <p class="-accent">в подарок</p>
                                </div>
                            </div>
                            <img src="img/octavia.png" alt="">
                        </div>
                        <div class="card__price card__flex">
                            <span class=" -bold">от 1 615 000 &#8381</span>
                            <div class="card__payment">
                                Кредит
                                <p class="-bold">от 115 000 &#8381/мес.</p>
                            </div>
                        </div>
                        <div class="card__flex card__option-list">
                            <div class="card__option-item i-engine i-engine--m">
                                115 л.с.
                            </div>
                            <div class="card__option-item i-gas i-gas--m">
                                5.3 л/км
                            </div>
                            <div class="card__option-item i-speed i-speed--m">
                                189 км/ч
                            </div>
                            <div class="card__option-item i-timer i-timer--m">
                                10,3 c.
                            </div>
                        </div>
                        <div class="card__nav nav">
                            <div class="card__polygon nav__reserve">
                                Резерв онлайн
                            </div>
                            <div class="card__polygon nav__buy">
                                Купить
                            </div>
                            <div class="card__polygon nav__more">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto__item">
                    <div class="card">
                        <div class="card__flex">
                            <div class="card__title">
                                Skoda Octavia
                                <nobr>1.6 MPI MT</nobr>
                                Active
                            </div>
                            <div class="card__icons">
                                <i class="card__likes likes-icon"></i>
                                <i class="card__compare compare-icon"></i>
                            </div>
                        </div>

                        <div class="card__offer card__polygon">Предложение дня</div>
                        <div class="card__offer-desc -accent">Выгода
                            <nobr>до 300 000 &#8381</nobr>
                        </div>

                        <div class=" card__flex">
                            <div class="card__benefits">
                                <div class="gift gift--l">
                                    Оборудование
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    КАСКО
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    Комплект резины
                                    <p class="-accent">в подарок</p>
                                </div>
                            </div>
                            <img src="img/octavia.png" alt="">
                        </div>
                        <div class="card__price card__flex">
                            <span class=" -bold">от 1 615 000 &#8381</span>
                            <div class="card__payment">
                                Кредит
                                <p class="-bold">от 115 000 &#8381/мес.</p>
                            </div>
                        </div>
                        <div class="card__flex card__option-list">
                            <div class="card__option-item i-engine i-engine--m">
                                115 л.с.
                            </div>
                            <div class="card__option-item i-gas i-gas--m">
                                5.3 л/км
                            </div>
                            <div class="card__option-item i-speed i-speed--m">
                                189 км/ч
                            </div>
                            <div class="card__option-item i-timer i-timer--m">
                                10,3 c.
                            </div>
                        </div>
                        <div class="card__nav nav">
                            <div class="card__polygon nav__reserve">
                                Резерв онлайн
                            </div>
                            <div class="card__polygon nav__buy">
                                Купить
                            </div>
                            <div class="card__polygon nav__more">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto__item">
                    <div class="card">
                        <div class="card__flex">
                            <div class="card__title">
                                Skoda Octavia
                                <nobr>1.6 MPI MT</nobr>
                                Active
                            </div>
                            <div class="card__icons">
                                <i class="card__likes likes-icon"></i>
                                <i class="card__compare compare-icon"></i>
                            </div>
                        </div>

                        <div class="card__offer card__polygon">Предложение дня</div>
                        <div class="card__offer-desc -accent">Выгода
                            <nobr>до 300 000 &#8381</nobr>
                        </div>

                        <div class=" card__flex">
                            <div class="card__benefits">
                                <div class="gift gift--l">
                                    Оборудование
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    КАСКО
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    Комплект резины
                                    <p class="-accent">в подарок</p>
                                </div>
                            </div>
                            <img src="img/octavia.png" alt="">
                        </div>
                        <div class="card__price card__flex">
                            <span class=" -bold">от 1 615 000 &#8381</span>
                            <div class="card__payment">
                                Кредит
                                <p class="-bold">от 115 000 &#8381/мес.</p>
                            </div>
                        </div>
                        <div class="card__flex card__option-list">
                            <div class="card__option-item i-engine i-engine--m">
                                115 л.с.
                            </div>
                            <div class="card__option-item i-gas i-gas--m">
                                5.3 л/км
                            </div>
                            <div class="card__option-item i-speed i-speed--m">
                                189 км/ч
                            </div>
                            <div class="card__option-item i-timer i-timer--m">
                                10,3 c.
                            </div>
                        </div>
                        <div class="card__nav nav">
                            <div class="card__polygon nav__reserve">
                                Резерв онлайн
                            </div>
                            <div class="card__polygon nav__buy">
                                Купить
                            </div>
                            <div class="card__polygon nav__more">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto__item">
                    <div class="card">
                        <div class="card__flex">
                            <div class="card__title">
                                Skoda Octavia
                                <nobr>1.6 MPI MT</nobr>
                                Active
                            </div>
                            <div class="card__icons">
                                <i class="card__likes likes-icon"></i>
                                <i class="card__compare compare-icon"></i>
                            </div>
                        </div>

                        <div class="card__offer card__polygon">Предложение дня</div>
                        <div class="card__offer-desc -accent">Выгода
                            <nobr>до 300 000 &#8381</nobr>
                        </div>

                        <div class=" card__flex">
                            <div class="card__benefits">
                                <div class="gift gift--l">
                                    Оборудование
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    КАСКО
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    Комплект резины
                                    <p class="-accent">в подарок</p>
                                </div>
                            </div>
                            <img src="img/octavia.png" alt="">
                        </div>
                        <div class="card__price card__flex">
                            <span class=" -bold">от 1 615 000 &#8381</span>
                            <div class="card__payment">
                                Кредит
                                <p class="-bold">от 115 000 &#8381/мес.</p>
                            </div>
                        </div>
                        <div class="card__flex card__option-list">
                            <div class="card__option-item i-engine i-engine--m">
                                115 л.с.
                            </div>
                            <div class="card__option-item i-gas i-gas--m">
                                5.3 л/км
                            </div>
                            <div class="card__option-item i-speed i-speed--m">
                                189 км/ч
                            </div>
                            <div class="card__option-item i-timer i-timer--m">
                                10,3 c.
                            </div>
                        </div>
                        <div class="card__nav nav">
                            <div class="card__polygon nav__reserve">
                                Резерв онлайн
                            </div>
                            <div class="card__polygon nav__buy">
                                Купить
                            </div>
                            <div class="card__polygon nav__more">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto__item">
                    <div class="card">
                        <div class="card__flex">
                            <div class="card__title">
                                Skoda Octavia
                                <nobr>1.6 MPI MT</nobr>
                                Active
                            </div>
                            <div class="card__icons">
                                <i class="card__likes likes-icon"></i>
                                <i class="card__compare compare-icon"></i>
                            </div>
                        </div>

                        <div class="card__offer card__polygon">Предложение дня</div>
                        <div class="card__offer-desc -accent">Выгода
                            <nobr>до 300 000 &#8381</nobr>
                        </div>

                        <div class=" card__flex">
                            <div class="card__benefits">
                                <div class="gift gift--l">
                                    Оборудование
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    КАСКО
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    Комплект резины
                                    <p class="-accent">в подарок</p>
                                </div>
                            </div>
                            <img src="img/octavia.png" alt="">
                        </div>
                        <div class="card__price card__flex">
                            <span class=" -bold">от 1 615 000 &#8381</span>
                            <div class="card__payment">
                                Кредит
                                <p class="-bold">от 115 000 &#8381/мес.</p>
                            </div>
                        </div>
                        <div class="card__flex card__option-list">
                            <div class="card__option-item i-engine i-engine--m">
                                115 л.с.
                            </div>
                            <div class="card__option-item i-gas i-gas--m">
                                5.3 л/км
                            </div>
                            <div class="card__option-item i-speed i-speed--m">
                                189 км/ч
                            </div>
                            <div class="card__option-item i-timer i-timer--m">
                                10,3 c.
                            </div>
                        </div>
                        <div class="card__nav nav">
                            <div class="card__polygon nav__reserve">
                                Резерв онлайн
                            </div>
                            <div class="card__polygon nav__buy">
                                Купить
                            </div>
                            <div class="card__polygon nav__more">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto__item">
                    <div class="card">
                        <div class="card__flex">
                            <div class="card__title">
                                Skoda Octavia
                                <nobr>1.6 MPI MT</nobr>
                                Active
                            </div>
                            <div class="card__icons">
                                <i class="card__likes likes-icon"></i>
                                <i class="card__compare compare-icon"></i>
                            </div>
                        </div>

                        <div class="card__offer card__polygon">Предложение дня</div>
                        <div class="card__offer-desc -accent">Выгода
                            <nobr>до 300 000 &#8381</nobr>
                        </div>

                        <div class=" card__flex">
                            <div class="card__benefits">
                                <div class="gift gift--l">
                                    Оборудование
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    КАСКО
                                    <p class="-accent">в подарок</p>
                                </div>

                                <div class="gift gift--l">
                                    Комплект резины
                                    <p class="-accent">в подарок</p>
                                </div>
                            </div>
                            <img src="img/octavia.png" alt="">
                        </div>
                        <div class="card__price card__flex">
                            <span class=" -bold">от 1 615 000 &#8381</span>
                            <div class="card__payment">
                                Кредит
                                <p class="-bold">от 115 000 &#8381/мес.</p>
                            </div>
                        </div>
                        <div class="card__flex card__option-list">
                            <div class="card__option-item i-engine i-engine--m">
                                115 л.с.
                            </div>
                            <div class="card__option-item i-gas i-gas--m">
                                5.3 л/км
                            </div>
                            <div class="card__option-item i-speed i-speed--m">
                                189 км/ч
                            </div>
                            <div class="card__option-item i-timer i-timer--m">
                                10,3 c.
                            </div>
                        </div>
                        <div class="card__nav nav">
                            <div class="card__polygon nav__reserve">
                                Резерв онлайн
                            </div>
                            <div class="card__polygon nav__buy">
                                Купить
                            </div>
                            <div class="card__polygon nav__more">
                                Подробнее
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="auto__show-more button">Показать еще</button>

    </section>
    <section class="comp">
        <div class="comp__top _container">
            <h2 class="comp__heading">Наши подборки</h2>
            <a href="" class="comp__link-all -highlighted">Все подборки</a>
        </div>
        <div class="comp__container _container">
            <div class="slider-swiper">
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/family.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/travel.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Автомобили для путешествий</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/city.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Городские автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/pickup.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Пикапы</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/miniwan.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Минивэны</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/cross.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Кроссоверы</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/furgon.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Фургоны</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/hatchback.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Хэтчбеки</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="img/pics/offroad.jpg" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Внедорожники</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sale">
        <div class="_container">
            <div class="sale__inner">
                <img src="img/pngwing 3.png" alt="" class="sale__img">
                <div class="sale__content">
                    <h3 class="sale__title">Перебьем предложения от конкурентов!</h3>
                    <p class="sale__text">
                        Скидки <span class="-accent -bold">от 10 до 25%</span> на стоимость автомобиля
                    </p>
                    <form action="" class="sale__form">
                        <input type="tel" placeholder="Ваш телефон" class="input" id="phone">
                        <button class="button">Получить предложение</button>
                    </form>
                    <p class="sale__note">
                        Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
                        <a href="" class="">персональных данных</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="special">
        <div class="_container">
            <h2 class="special__heading">Спецпредложения</h2>
        </div>
        <div class="special__container _container">
            <div class="slider-swiper">
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/first-auto.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Первый автомобиль</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/family2.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Семейный автомобиль</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/express.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Экспресс-кредит</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/med.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Работникам медецины</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/rassrochka.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Рассрочка</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/trade-in.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Госпрограмма Trade-in</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="img/pics/util.jpg" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Утилизация</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="credit">
        <div class="credit__wrapper">
            <div class="_container">
                <form action="" class="credit__form">
                    <h2 class="credit__top-heading">Заявка на автокредит</h2>
                    <div class="credit__main">
                        <div class="credit__select-group">
                            <div class="credit__select select" data-state="">
                                <div class="select__title">Марка</div>
                                <div class="select__content">
                                </div>
                            </div>
                            <div class="credit__select select" data-state="">
                                <div class="select__title">Модель</div>
                                <div class="select__content">
                                </div>
                            </div>
                            <div class="credit__select select" data-state="">
                                <div class="select__title">Комплектация</div>
                                <div class="select__content">
                                </div>
                            </div>
                        </div>
                        <div class="credit__auto">
                            <div class="jc-spb">
                                <span class="credit__price -bold">1 615 000&nbsp;&#8381</span>
                                <span class="credit__benefit -accent -bold">Выгода 300 000&nbsp;&#8381</span>
                            </div>

                            <p class="credit__last-price">1 915 000&nbsp;&#8381</p>
                            <img src="img/secret-car.png" alt="">

                            <!-- Сделать когда не введен взнос, то серый бг -->
                            <div class="pb jc-spb">
                                <span class="pb__first-fee -highlighted">50 000</span>
                                <span class="pb__balance -highlighted">50 000</span>

                                <div class="pb__wrap">
                                    <span class="pb__line"></span>
                                    <span class="pb__bar"></span>
                                </div>

                                <!-- Сделать когда не введен взнос, то серый текст -->
                                <span class="pb__text">Первоначальный взнос</span>
                                <span class="pb__text">Остаток по кредиту</span>
                            </div>
                        </div>

                        <span class="credit__line credit__first-line"></span>

                        <div class="credit__params">
                            <div class="credit__slider-term">
                                <div class="jc-spb">
                                    <p>Срок кредита, мес.</p>
                                    <span id="term-irs-from"></span>
                                </div>
                                <input type="text" class="js-range-slider-term" name="my_range" value=""/>
                            </div>

                            <div class="credit__slider-sum">
                                <div class="jc-spb">
                                    <p>Первоначальный взнос</p>
                                    <span id="fee-irs-from"></span>
                                </div>
                                <input type="text" class="js-range-slider-fee" name="my_range" value=""/>
                            </div>

                            <span class="fee-text">Ручной ввод, руб</span>
                            <input type="number" placeholder="0" class="fee-input input" id="">
                        </div>
                    </div>

                    <span class="credit__line"></span>

                    <div class="credit__send">
                        <h3>Получить выгоду <span class="-accent">300 000&nbsp;&#8381</span></h3>
                        <input type="text" placeholder="Ваше имя" class="input" id="">
                        <input type="text" placeholder="Ваш телефон" class="input" id="">
                        <button class="button">Получить предложение</button>
                        <span class="credit__note">
								Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
								<a>персональных данных</a>
							</span>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="partners">
        <div class="_container">
            <h2 class="partners__heading">Банки-партнеры</h2>
        </div>
        <div class="partners__container _container">
            <div class="slider-swiper" data-slides="1">
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="img/logo/0alfa.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0vsk.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0sovkom.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0rosgosstrah.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="img/logo/0alfa.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0vsk.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0sovkom.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0rosgosstrah.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="img/logo/0alfa.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0vsk.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0sovkom.png" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="img/logo/0rosgosstrah.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trust">
        <div class="_container">
            <h2 class="trust__heading">Нам доверяют</h2>
        </div>
        <div class="trust__container _container">
            <div class="slider-swiper" data-slides="4" data-appendArrows="trust">
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_container trust__map-wrap">
            <div class="trust__map jc-spb">
                <div class="trust__map-top">
                    <img src="img/yandex-maps-logo.png" alt="" class="trust__map-logo y-logo">
                    <span class="trust__map-salon-name">Название автосалона</span>
                </div>
                <div class="">
                    <span class="trust__map-text">Рекомендуют 90%</span>
                    <ul class="trust__stars">
                        <li>
                        <li>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
                <div class="trust__mark">4.5</div>
            </div>
            <div class="trust__map jc-spb">
                <div class="trust__map-top">
                    <img src="img/Google_Maps_Logo.png" alt="" class="trust__map-logo y-logo">
                    <span class="trust__map-salon-name">Название автосалона</span>
                </div>
                <div class="">
                    <span class="trust__map-text">Рекомендуют 90%</span>
                    <ul class="trust__stars">
                        <li>
                        <li>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
                <div class="trust__mark">4.5</div>
            </div>
        </div>
    </section>
{% endblock content %}
<!-- end content -->
<!-- footer -->
{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}
<!-- footer end -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
<script src="{% static 'files/slick/slick.min.js' %}"></script>
<script src="{% static 'files/range/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>