{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Авто Салон</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/burger+catalog.js' %}" defer></script>
    <script src="{% static 'js/slider.js' %}" defer></script>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'files/range/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'files/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>



<!-- Header -->
{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}
<!-- end header -->
<!--top banner -->
{% block top-banner %}
    {% include 'include/top-banner.html' %}
{% endblock top-banner %}
<!-- end top banner -->
<!-- content -->
{% block content %}

{% endblock content %}
<!-- end content -->
<!-- footer -->
{% block footer %}
    {% include 'include/footer.html' %}
{% endblock %}
<!-- footer end -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
<script type="text/javascript" src="{% static 'files/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'files/range/ion.rangeSlider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fslightbox.js' %}"></script>
</body>

</html>