{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/auto-probeg-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/taxi-credit.css' %}">
{% endblock %}

{% block content %}
    <main class="main" style="padding: 0px 30px;">
        <section class="main-main">
            <div class="container">
                <p class="backlink-p">
                    <a href="{% url 'index' %}" class="back-link">Главная / </a>
                    {% if car.new %}
                        <a href="{% url 'index' %}"> Новые авто / </a>
                    {% else %}
                        <a href="{% url 'used_cars' %}">Авто с пробегом</a>
                    {% endif %}
                    {{ car.brand }} {{ car.model }} {{ car.generation.title }}

                </p>
                <div class="main-item">
                    <div class="main-item__imgs">
                        <div class="main-item__imgs-big">
                            <div class="stats-btns">
                                <div class="brazzer-dady">
                                    {% if car.car_images.all %}
                                        {% for image in car.car_images.all %}
                                            <div class="item">
                                                <img src="{{ image.image.url }}"
                                                     alt="{{ car.brand.title }} {{ car.model.title }} {{ car.generation.title }}"
                                                     style="min-width: 800px; width: 800px; max-width: 100%; height: 560px;
                                                      max-height: 560px; max-height: 560px; object-fit: fill;">
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-item__info">
                        <h1 class="main-item__info-title">
                            {{ car.brand.title }} {{ car.model.title }} {{ car.generation.title }}
                        </h1>
                        <div class="main-item__info-params">
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/bak.png' %}" alt="">
                                <p style="margin: 0 auto;">{{ car.modification.volume }} л</p>
                            </div>
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/car-ls.png' %}" alt="">
                                <p style="margin: 0 auto;"> {{ car.modification.power }} л.с.</p>
                            </div>
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/kpp.png' %}" alt="">
                                <p style="margin: 0 auto;">{{ car.modification.transmission.title }}</p>
                            </div>
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/privod.png' %}" alt="">
                                {% if car.modification.drive_unit %}

                                    <p style="margin: 0 auto;">{{ car.modification.drive_unit }}</p>

                                {% endif %}
                            </div>
                        </div>
                        <div class="main-item__info-price">
                            <p class="main-item__info-price__main">
                                {{ car.price }} ₽
                            </p>
                            <p class="main-item__info-price__credit">
                                От {{ car.credit_from }} месяцев.
                            </p>
                        </div>
                        <div class="main-item__info-btns">
                            <button class="main-item__info-btns__reserve red-btn">
                                Забронировать онлайн
                            </button>
                            <button class="main-item__info-credit">
                                <a href="{% url 'credit_request_create' %}" style="color: black;"> Рассчитать кредит</a>
                            </button>
                        </div>
                        <div class="main-item__info-total">
                            <div class="main-item__info-total__pluses">
                                <div class="main-item__info-total__pluses-item">
                                    <img src="{% static 'img/auto-probeg-page-1920/trade-in.png' %}" alt="">
                                    <p>Зачёт вашего авто в trade-in</p>
                                </div>
                                <div class="main-item__info-total__pluses-item">
                                    <img src="{% static 'img/auto-probeg-page-1920/procent.png' %}" alt="">
                                    <p>Беспроцентная рассрочка 0%</p>
                                </div>
                                <div class="main-item__info-total__pluses-item">
                                    <img src="{% static 'img/auto-probeg-page-1920/present.png' %}" alt="">
                                    <p>Доп. выгода до 200 000 ₽</p>
                                </div>
                            </div>
                            <div class="main-item__info-total__desc">
                                <p class="main-item__info-total__desc-item">
                                    Привод: {% if car.modification.drive_unit %}

                                    <span>{{ car.modification.drive_unit }}</span>

                                {% endif %}
                                </p>
                                <p class="main-item__info-total__desc-item">
                                    Кузов: {% if car.modification.body_type %}

                                    <span>{{ car.modification.body_type }}</span>

                                {% endif %}
                                </p>
                                <p class="main-item__info-total__desc-item">
                                    Год: <span>{{ car.modification.year }}</span>
                                </p>
                                <p class="main-item__info-total__desc-item">
                                    Пробег: <span>{{ car.mileage }} км.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-item__mobile">
                    <div>
                        <div>
                            <h1 class="main-item__info-title">
                                {{ car.brand }} {{ car.model }} {{ car.modification.title }}
                            </h1>
                            <div class="stats-btns" style="margin-bottom: 25px;">
                                <div class="owl-carousel owl-theme">
                                    {% if car.car_images.all %}
                                        {% for image in car.car_images.all %}
                                            <div class="item">
                                                <img src="{{ image.image.url }}"
                                                     alt="{{ car.brand.title }} {{ car.model.title }} {{ car.generation.title }}">
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="main-item__info-price">
                            <p class="main-item__info-price__main">
                                {{ car.price }} ₽
                            </p>
                            <p class="main-item__info-price__credit">
                                В кредит от 12 000 ₽/мес
                            </p>
                        </div>
                        <div class="main-item__info">

                            <div class="main-item__info-params">
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/bak.png' %}" alt="">
                                    <p style="margin: 0 auto;">{{ car.modification.volume }} л</p>
                                </div>
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/car-ls.png' %}" alt="">
                                    <p style="margin: 0 auto;"> {{ car.modification.power }} л.с.</p>
                                </div>
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/kpp.png' %}" alt="">
                                    <p style="margin: 0 auto;">{{ car.modification.transmission.title }}</p>
                                </div>
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/privod.png' %}" alt="">
                                    {% if car.modification.drive_unit %}
                                        {% for drive in car.modification.drive_unit.all %}
                                            <p style="margin: 0 auto;">{{ drive }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="main-item__info-btns">
                                <button class="main-item__info-btns__reserve red-btn">
                                    Забронировать онлайн
                                </button>
                                <button class="main-item__info-credit">
                                    Купить в кредит
                                </button>
                            </div>
                            <div class="main-item__info-total">
                                <div class="main-item__info-total__pluses">
                                    <div class="main-item__info-total__pluses-item">
                                        <img src="{% static 'img/auto-probeg-page-1920/trade-in.png' %}" alt="">
                                        <p>Зачёт вашего авто в trade-in</p>
                                    </div>
                                    <div class="main-item__info-total__pluses-item">
                                        <img src="{% static 'img/auto-probeg-page-1920/procent.png' %}" alt="">
                                        <p>Беспроцентная рассрочка 0%</p>
                                    </div>
                                    <div class="main-item__info-total__pluses-item">
                                        <img src="{% static 'img/auto-probeg-page-1920/present.png' %}" alt="">
                                        <p>Доп. выгода до 200 000 ₽</p>
                                    </div>
                                </div>
                                <div class="main-item__info-total__desc">
                                    <p class="main-item__info-total__desc-item">
                                        Привод: {% if car.modification.drive_unit %}
                                        {% for drive in car.modification.drive_unit.all %}
                                            <span>{{ drive }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    </p>
                                    <p class="main-item__info-total__desc-item">
                                        Кузов: {% if car.modification.body_type %}
                                        {% for body in car.modification.body_type.all %}
                                            <span>{{ body }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    </p>
                                    <p class="main-item__info-total__desc-item">
                                        Год: <span>{{ car.modification.year }}</span>
                                    </p>
                                    <p class="main-item__info-total__desc-item">
                                        Пробег: <span>{{ car.mileage }} км.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if car.description %}
                    <div class="main-desc">
                        <h2 class="sec-title">
                            Описание {{ car.brand.title }} {{ car.model.title }} {{ car.generation.title }} {{ car.modification.title }}
                        </h2>
                        <p class="main-desc__desc">
                            {{ car.description|safe }}
                        </p>
                    </div>
                {% endif %}

                <div class="main-complect">
                    <h2 class="sec-title">
                        Опции {{ car.brand.title }} {{ car.model.title }} {{ car.generation.title }} {{ car.modification.title }}
                    </h2>
                    {% if car.secure.count and car.exterior.count %}
                        <section class="terms">
                            <div class="container">
                                <div class="terms__list">
                                    {% if car.secure.all %}
                                        <div class="terms__item terms_buy" style="width: 50%;">
                                            <p class="title">
                                                Безопасность
                                            </p>
                                            <div class="buy">
                                                <ul class="buy__terms__list">
                                                    {% for secure in car.secure.all %}
                                                        <li>
                                                            <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                                            <span>{{ secure }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="vertical_line"></div>
                                    {% endif %}
                                    {% if car.exterior.all %}
                                        <div class="terms__item doc">
                                            <p class="title">
                                                Экстерьер
                                            </p>

                                            <div class="buy">
                                                <ul class="buy__terms__list">
                                                    {% for exterior in car.exterior.all %}
                                                        <li>
                                                            <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                                            <span>{{ exterior }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    {% if car.interior.count and car.multimedia.count %}
                        <section class="terms">
                            <div class="container">
                                <div class="terms__list">
                                    {% if car.interior.all %}
                                        <div class="terms__item terms_buy" style="width: 50%;">
                                            <p class="title">
                                                Интерьер
                                            </p>
                                            <div class="buy">
                                                <ul class="buy__terms__list">
                                                    {% for secure in car.interior.all %}
                                                        <li>
                                                            <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                                            <span>{{ secure }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="vertical_line"></div>
                                    {% endif %}
                                    {% if car.multimedia.all %}
                                        <div class="terms__item doc">
                                            <p class="title">
                                                Мультимедиа
                                            </p>

                                            <div class="buy">
                                                <ul class="buy__terms__list">
                                                    {% for exterior in car.multimedia.all %}
                                                        <li>
                                                            <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                                            <span>{{ exterior }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    {% if car.other.count %}
                        <section class="terms">
                            <div class="container">
                                <div class="terms__list">
                                    {% if car.other.all %}
                                        <div class="terms__item terms_buy" style="width: 100%;">
                                            <p class="title">
                                                Другое
                                            </p>
                                            <div class="buy">
                                                <ul class="buy__terms__list">
                                                    {% for secure in car.other.all %}
                                                        <li>
                                                            <img src="{% static 'img/traid/accept.svg' %}" alt="img">
                                                            <span>{{ secure }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="probeg">
            <div class="container">
                {% if cars.count %}
                    <h2 class="sec-title probeg-title">
                        Автомобили с пробегом за эти же деньги
                    </h2>
                {% endif %}
                <div class="auto__list">
                    {% for car_ in cars %}
                        <div class="auto__item" data-pk="{{ car.pk }}">
                            <div class="card" style="background-image: none; max-height: 390px; min-height: 390px;">
                                <a href="{{ car.get_absolute_url }}" class="card__flex">
                                    <div class="card__title">
                                        {{ car.brand.title }}
                                        <nobr>{{ car.modification.volume }}</nobr>
                                        {{ car.modification }}
                                    </div>
                                </a>

                                <a href="{{ car.get_absolute_url }}" class="brazzer-dady">
                                    {% if car.car_images %}
                                        {% for car_image in car.car_images.all %}
                                            <img src="{{ car_image.image.url }}"
                                                 alt="{{ car.brand.title }}" class="image">
                                        {% endfor %}
                                    {% endif %}
                                </a>
                                <div class="card__price card__flex">
                                <span class=" -bold"
                                      style="max-width: 54%; width: 50%; align-self: end;font-size: 16px; transform: translateY(3px);">от {{ car.price }} &#8381</span>
                                    {% if car.credit_from %}
                                        <div class=""
                                             style="width: 50%; max-width: 50%;font-size: 14px; display: flex; flex-direction: column;">
                                            <span>Кредит</span>
                                            <span class="-bold bold_price">от {{ car.credit_from }} &#8381 мес.</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card__flex card__option-list" style="flex-direction: row;">
                                    <div class="card__option-item i-engine i-engine--m">
                                        {{ car.modification.power }} л.с.
                                    </div>
                                    <div class="card__option-item i-gas i-gas--m">
                                        {{ car.modification.fuel_consumption }} л/км
                                    </div>
                                    <div class="card__option-item i-speed i-speed--m">
                                        {{ car.modification.max_speed }} км/ч
                                    </div>
                                    <div class="card__option-item i-timer i-timer--m">
                                        {{ car.modification.acceleration }}c.
                                    </div>
                                </div>
                                <div class="card__nav nav">
                                    <a class="card__polygon nav__buy" style="background: #CA0100; cursor: pointer;"
                                       onclick="showModal('{{ car.get_first_image }}', '{{ car.price }}', '{{ car.pk }}')">
                                        Резервировать
                                    </a>
                                    <a href="{{ car.get_absolute_url }}" class="card__polygon nav__more">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if cars.count > 8 %}
                    <div class="probeg__btn-cont">
                        <button class="probeg__more red-btn">
                            показать ещё
                        </button>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                dost: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: false,

                    }
                }
            })
        })
    </script>
    <script defer>
        for (let e of document.querySelectorAll('input[type="range"].slider-progress')) {
            e.style.setProperty('--value', e.value);
            e.style.setProperty('--min', e.min == '' ? '0' : e.min);
            e.style.setProperty('--max', e.max == '' ? '100' : e.max);
            e.addEventListener('input', () => e.style.setProperty('--value', e.value));
        }
        // адаптация карточек максимальное количество карточек в строке 4
        let cards = document.querySelectorAll('.probeg__cards-item');
    </script>

{% endblock content %}