{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/auto-probeg-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
{% endblock %}
{% block top-banner %}
{% endblock top-banner %}
{% block content %}
    <main class="main" style="padding: 0px 30px;">
        <section class="main-main">
            <div class="container">
                <p class="backlink-p">
                    <a href="{% url 'index' %}" class="back-link">Главная / </a>
                    <a href="{% url 'used_cars' %}"> Авто с пробегом / </a>
                    Toyota Camry 2013
                </p>
                <div class="main-item">
                    <div class="main-item__imgs">
                        <div class="main-item__imgs-big">
                            <div class="stats-btns">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-item__info">
                        <h1 class="main-item__info-title">
                            Toyota Camry 2013
                        </h1>
                        <div class="main-item__info-params">
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/bak.png' %}" alt="">
                                <p style="margin: 0 auto;">1.2 л</p>
                            </div>
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/car-ls.png' %}" alt="">
                                <p style="margin: 0 auto;"> 115 л.с.</p>
                            </div>
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/kpp.png' %}" alt="">
                                <p style="margin: 0 auto;">Механика</p>
                            </div>
                            <div class="main-item__info-params__item">
                                <img src="{% static 'img/auto-probeg-page-1920/privod.png' %}" alt="">
                                <p style="margin: 0 auto;">Передний</p>
                            </div>
                        </div>
                        <div class="main-item__info-price">
                            <p class="main-item__info-price__main">
                                850 000 ₽
                            </p>
                            <p class="main-item__info-price__credit">
                                В кредит от 12 000 ₽/мес
                            </p>
                        </div>
                        <div class="main-item__info-btns">
                            <button class="main-item__info-btns__reserve red-btn">
                                Забронировать онлайн
                            </button>
                            <button class="main-item__info-credit">
                                Купить в кредит
                            </button>
                        </div>
                        <div class="main-item__info-total">
                            <div class="main-item__info-total__pluses">
                                <div class="main-item__info-total__pluses-item">
                                    <img src="{% static 'img/auto-probeg-page-1920/trade-in.png' %}" alt="">
                                    <p>Зачёт вашего авто в trade-in</p>
                                </div>
                                <div class="main-item__info-total__pluses-item">
                                    <img src="{% static 'img/auto-probeg-page-1920/procent.png' %}" alt="">
                                    <p>Беспроцентная рассрочка 0%</p>
                                </div>
                                <div class="main-item__info-total__pluses-item">
                                    <img src="{% static 'img/auto-probeg-page-1920/present.png' %}" alt="">
                                    <p>Доп. выгода до 200 000 ₽</p>
                                </div>
                            </div>
                            <div class="main-item__info-total__desc">
                                <p class="main-item__info-total__desc-item">
                                    Привод: <span>передний</span>
                                </p>
                                <p class="main-item__info-total__desc-item">
                                    Кузов: <span>седан</span>
                                </p>
                                <p class="main-item__info-total__desc-item">
                                    Год: <span>2013</span>
                                </p>
                                <p class="main-item__info-total__desc-item">
                                    Пробег: <span>1000 км</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-item__mobile">
                    <div>
                        <div>
                            <h1 class="main-item__info-title">
                                Toyota Camry 2013
                            </h1>
                            <div class="stats-btns" style="margin-bottom: 25px;">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                    <div class="item">
                                        <img src="{% static 'img/auto-probeg-page-1920/main-camry.png' %}"
                                             alt="The Last of us">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-item__info-price">
                            <p class="main-item__info-price__main">
                                850 000 ₽
                            </p>
                            <p class="main-item__info-price__credit">
                                В кредит от 12 000 ₽/мес
                            </p>
                        </div>
                        <div class="main-item__info">

                            <div class="main-item__info-params">
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/bak.png' %}" alt="">
                                    <p style="margin: 0 auto;">1.2 л</p>
                                </div>
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/car-ls.png' %}" alt="">
                                    <p style="margin: 0 auto;"> 115 л.с.</p>
                                </div>
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/kpp.png' %}" alt="">
                                    <p style="margin: 0 auto;">Механика</p>
                                </div>
                                <div class="main-item__info-params__item">
                                    <img src="{% static 'img/auto-probeg-page-1920/privod.png' %}" alt="">
                                    <p style="margin: 0 auto;">Передний</p>
                                </div>
                            </div>
                            <div class="main-item__info-btns">
                                <button class="main-item__info-btns__reserve red-btn">
                                    Забронировать онлайн
                                </button>
                                <button class="main-item__info-credit">
                                    Купить в кредит
                                </button>
                            </div>
                            <div class="main-item__info-total">
                                <div class="main-item__info-total__pluses">
                                    <div class="main-item__info-total__pluses-item">
                                        <img src="{% static 'img/auto-probeg-page-1920/trade-in.png' %}" alt="">
                                        <p>Зачёт вашего авто в trade-in</p>
                                    </div>
                                    <div class="main-item__info-total__pluses-item">
                                        <img src="{% static 'img/auto-probeg-page-1920/procent.png' %}" alt="">
                                        <p>Беспроцентная рассрочка 0%</p>
                                    </div>
                                    <div class="main-item__info-total__pluses-item">
                                        <img src="{% static 'img/auto-probeg-page-1920/present.png' %}" alt="">
                                        <p>Доп. выгода до 200 000 ₽</p>
                                    </div>
                                </div>
                                <div class="main-item__info-total__desc">
                                    <p class="main-item__info-total__desc-item">
                                        Привод: <span>передний</span>
                                    </p>
                                    <p class="main-item__info-total__desc-item">
                                        Кузов: <span>седан</span>
                                    </p>
                                    <p class="main-item__info-total__desc-item">
                                        Год: <span>2013</span>
                                    </p>
                                    <p class="main-item__info-total__desc-item">
                                        Пробег: <span>1000 км</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-desc">
                    <h2 class="sec-title">
                        Описание Toyota Camry 2013 2.0 AT Стандарт
                    </h2>
                    <p class="main-desc__desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et lorem elit. Nam nisi
                        nulla, fringilla vel pharetra ac, luctus in est. Pellentesque faucibus interdum arcu, non
                        molestie leo malesuada in. Donec quam turpis, hendrerit nec ante id, tincidunt convallis sapien.
                        In molestie dignissim elit non mollis. Donec at dapibus nisl, sed aliquam ipsum. Mauris mi
                        libero, congue ut feugiat sit amet, cursus eget orci. Aenean vel fermentum dui. Aenean dictum
                        diam in augue porttitor luctus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus et lorem elit. Nam nisi nulla, fringilla vel pharetra ac, luctus in est. Pellentesque
                        faucibus interdum arcu, non molestie leo malesuada in. Donec quam turpis, hendrerit nec ante id,
                        tincidunt convallis sapien. In molestie dignissim elit non mollis.
                    </p>
                </div>
                <div class="main-complect">
                    <h2 class="sec-title">
                        Комплектация Toyota Camry 2013 2.0 AT Стандарт
                    </h2>
                    <div class="main-complect__content">
                        <div class="main-complect__list">
                            <div class="main-complect__list-item">
                                <div class="main-complect__list-item__row">
                                    <p class="main-complect__list-item__row-title">
                                        Максимальная мощность двигателя(кВт) при об./мин.
                                    </p>
                                    <p class="main-complect__list-item__row-desc">
                                        110 л.с.
                                    </p>
                                </div>
                                <div class="main-complect__list-item__row">
                                    <p class="main-complect__list-item__row-title">
                                        Тип привода
                                    </p>
                                    <p class="main-complect__list-item__row-desc">
                                        Передний
                                    </p>
                                </div>
                            </div>
                            <div class="main-complect__list-item">
                                <div class="main-complect__list-item__row">
                                    <p class="main-complect__list-item__row-title">
                                        Тип трансмиссии
                                    </p>
                                    <p class="main-complect__list-item__row-desc">
                                        МКПП
                                    </p>
                                </div>
                                <div class="main-complect__list-item__row">
                                    <p class="main-complect__list-item__row-title">
                                        Объем двигателя, куб.см
                                    </p>
                                    <p class="main-complect__list-item__row-desc">
                                        100
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="main-complect__btn red-btn">
                            Показать еще
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="probeg">
            <div class="container">
                <h2 class="sec-title probeg-title">
                    Автомобили с пробегом за эти же деньги
                </h2>
                <div class="probeg__cards">
                    <a href="{% url 'detail' %}">
                        <div class="probeg__cards-item">
                            <div class="probeg__cards-item__top">
                                <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                <div class="slider-photos">
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                </div>
                            </div>
                            <div class="probeg__cards-item__content">
                                <p class="probeg__cards-item__title">
                                    Toyota Camry 2013
                                </p>
                                <div class="probeg__cards-item__params">
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Мощность:
                                            <span>115 л.с.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Объем двигателя:
                                            <span>1.2 л.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Привод:
                                            <span>передний</span>
                                        </p>
                                    </div>
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Кузов:
                                            <span>внедорожник</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            КПП:
                                            <span>механика</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Пробег:
                                            <span>123456 км.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="probeg__cards-item__price">
                                    <p>от 1 615 000 ₽ </p>
                                    <span>от 115 000 ₽/мес. </span>
                                </div>
                                <div class="auto__card-btns">
                                    <button class="auto__card-btns__btn">
                                        Резерв онлайн
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Купить
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'detail' %}">
                        <div class="probeg__cards-item">
                            <div class="probeg__cards-item__top">
                                <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                <div class="slider-photos">
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                </div>
                            </div>
                            <div class="probeg__cards-item__content">
                                <p class="probeg__cards-item__title">
                                    Toyota Camry 2013
                                </p>
                                <div class="probeg__cards-item__params">
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Мощность:
                                            <span>115 л.с.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Объем двигателя:
                                            <span>1.2 л.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Привод:
                                            <span>передний</span>
                                        </p>
                                    </div>
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Кузов:
                                            <span>внедорожник</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            КПП:
                                            <span>механика</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Пробег:
                                            <span>123456 км.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="probeg__cards-item__price">
                                    <p>от 1 615 000 ₽ </p>
                                    <span>от 115 000 ₽/мес. </span>
                                </div>
                                <div class="auto__card-btns">
                                    <button class="auto__card-btns__btn">
                                        Резерв онлайн
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Купить
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'detail' %}">
                        <div class="probeg__cards-item">
                            <div class="probeg__cards-item__top">
                                <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                <div class="slider-photos">
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                </div>
                            </div>
                            <div class="probeg__cards-item__content">
                                <p class="probeg__cards-item__title">
                                    Toyota Camry 2013
                                </p>
                                <div class="probeg__cards-item__params">
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Мощность:
                                            <span>115 л.с.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Объем двигателя:
                                            <span>1.2 л.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Привод:
                                            <span>передний</span>
                                        </p>
                                    </div>
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Кузов:
                                            <span>внедорожник</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            КПП:
                                            <span>механика</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Пробег:
                                            <span>123456 км.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="probeg__cards-item__price">
                                    <p>от 1 615 000 ₽ </p>
                                    <span>от 115 000 ₽/мес. </span>
                                </div>
                                <div class="auto__card-btns">
                                    <button class="auto__card-btns__btn">
                                        Резерв онлайн
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Купить
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'detail' %}">
                        <div class="probeg__cards-item">
                            <div class="probeg__cards-item__top">
                                <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                <div class="slider-photos">
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                    <div class="slide"></div>
                                </div>
                            </div>
                            <div class="probeg__cards-item__content">
                                <p class="probeg__cards-item__title">
                                    Toyota Camry 2013
                                </p>
                                <div class="probeg__cards-item__params">
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Мощность:
                                            <span>115 л.с.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Объем двигателя:
                                            <span>1.2 л.</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Привод:
                                            <span>передний</span>
                                        </p>
                                    </div>
                                    <div class="">
                                        <p class="probeg__cards-item__params-item">
                                            Кузов:
                                            <span>внедорожник</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            КПП:
                                            <span>механика</span>
                                        </p>
                                        <p class="probeg__cards-item__params-item">
                                            Пробег:
                                            <span>123456 км.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="probeg__cards-item__price">
                                    <p>от 1 615 000 ₽ </p>
                                    <span>от 115 000 ₽/мес. </span>
                                </div>
                                <div class="auto__card-btns">
                                    <button class="auto__card-btns__btn">
                                        Резерв онлайн
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Купить
                                    </button>
                                    <button class="auto__card-btns__btn">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="probeg__btn-cont">
                    <button class="probeg__more red-btn">
                        показать ещё
                    </button>
                </div>
            </div>
        </section>
    </main>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                dost: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: false,

                    }
                }
            })
        })
    </script>
    <script defer>
        for (let e of document.querySelectorAll('input[type="range"].slider-progress')) {
            e.style.setProperty('--value', e.value);
            e.style.setProperty('--min', e.min == '' ? '0' : e.min);
            e.style.setProperty('--max', e.max == '' ? '100' : e.max);
            e.addEventListener('input', () => e.style.setProperty('--value', e.value));
        }
        // адаптация карточек максимальное количество карточек в строке 4
        let cards = document.querySelectorAll('.probeg__cards-item');
    </script>

{% endblock content %}