{% extends 'base.html' %}
{% load static %}
{% block css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block top-banner %}
    {% include 'include/top-banner.html' %}
{% endblock %}
{% block content %}
    <style>
        .page-item a {
            color: black;
        }

        .page-item.active .page-link {
            background-color: whitesmoke;
            color: black;
        }

    </style>
    <section class="pick-up">
        <div class="pick-up__container _container">
            <div class="pick-up__content-wrapper">
                <ul class="pick-up__list js-resizable-list">
                    {% for brand in brands %}
                        <li>
                            {% if brand.icon %}
                                <img src="{{ brand.icon.url }}" alt=""
                                     style="max-width: 38px; min-height: 38px; max-height: 38px;">
                                <a href="{{ brand.get_new_cars }}">{{ brand.title }}</a>
                            {% else %}
                                <img src="{% static 'img/logo/skoda.png' %}" alt=""
                                     style="max-width: 38px; min-height: 38px; max-height: 38px;"
                                >
                                <a href="{{ brand.get_new_cars }}">{{ brand.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="auto">
        <div class="_container">
            <h2 class="auto__heading">Автомобили в наличии с ПТС</h2>
        </div>
        <div class="auto__container _container">
            <div class="auto__list">
                {% for car in cars %}
                    <div class="auto__item" data-pk="{{ car.pk }}">
                        <div class="card" style="background-image: none; max-height: 390px; min-height: 390px;">
                            <a href="{{ car.get_absolute_url }}" class="card__flex">
                                <div class="card__title">
                                    {{ car.brand.title }}
                                    <nobr>{{ car.modification.volume }}</nobr>
                                    {{ car.modification }}
                                </div>
                            </a>

                            <a href="{{ car.get_absolute_url }}" class="brazzer-dady">
                                {% if car.car_images %}
                                    {% for car_image in car.car_images.all %}
                                        <img src="{{ car_image.image.url }}"
                                             alt="{{ car.brand.title }}" class="image">
                                    {% endfor %}
                                {% endif %}
                            </a>
                            <div class="card__price card__flex">
                                <span class=" -bold"
                                      style="max-width: 54%; width: 50%; align-self: end;font-size: 16px; transform: translateY(3px);">от {{ car.price }} &#8381</span>
                                {% if car.credit_from %}
                                    <div class=""
                                         style="width: 50%; max-width: 50%;font-size: 14px; display: flex; flex-direction: column;">
                                        <span>Кредит</span>
                                        <span class="-bold bold_price">от {{ car.credit_from }} &#8381 мес.</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card__flex card__option-list" style="flex-direction: row;">
                                <div class="card__option-item i-engine i-engine--m">
                                    {{ car.modification.power }} л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    {{ car.modification.fuel_consumption }} л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    {{ car.modification.max_speed }} км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    {{ car.modification.acceleration }}c.
                                </div>
                            </div>
                            <div class="card__nav nav">
                                <a class="card__polygon nav__buy" style="background: #CA0100; cursor: pointer;"
                                   onclick="showModal('{{ car.get_first_image }}', '{{ car.price }}', '{{ car.pk }}')">
                                    Резервировать
                                </a>
                                <a href="{{ car.get_absolute_url }}" class="card__polygon nav__more">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <nav class="mt-4" aria-label="Page navigation sample">
                <ul class="pagination" style="justify-content: center;">
                    {% if page_obj.has_other_pages %}
                        {% if page_obj.has_previous %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                   href="?page={{ page_obj.previous_page_number }}">Назад</a>
                            </li>
                        {% endif %}
                        {% for page in paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="page-item active"><a class="page-link"
                                                                href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующий</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>


    </section>
    <section class="sale">
        <div class="_container">
            <div class="sale__inner">
                <img src="{% static 'img/pngwing 3.png' %}" alt="" class="sale__img">
                <div class="sale__content">
                    <h3 class="sale__title">Перебьем предложения от конкурентов!</h3>
                    <p class="sale__text">
                        Скидки <span class="-accent -bold">от 10 до 25%</span> на стоимость автомобиля
                    </p>
                    <form action="" class="sale__form">
                        <input type="tel" placeholder="Ваш телефон" class="input" id="phone">
                        <button class="button">Получить предложение</button>
                    </form>
                    <p class="sale__note">
                        Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
                        <a href="" class="">персональных данных</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="comp">
        <div class="comp__top _container">
            <h2 class="comp__heading">Блог</h2>
            <a href="{% url 'blogs' %}" class="comp__link-all -highlighted">Смотреть блоги</a>
        </div>
        <div class="comp__container _container">
            <div class="slider-swiper">
                {% for blog in blogs %}
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{{ blog.image.url }}" alt="" class="comp__img">
                            <div class="comp__over">
                                <span>{{ blog.title }}</span>
                            </div>
                            <div class="comp__content">
                                <a href="{{ blog.get_absolute_url }}"
                                   class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="" style="margin-bottom: 20px; border-radius: 35px;">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A425b6e985acd0a310a1d5384a077347db558374190c02cd499c4337db77ab414&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <script>
        $(document).ready(function () {
            $('#brand_id').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id').empty(); // remove old options if any present in select
                        $('#model_id').append('<option value="">Выберите модель</option>');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_generations/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#generation_id').empty(); // remove old options if any present in select
                        for (var i = 0; i < data["generations"].length; i++) {
                            $('#generation_id').append('<option value="' + data["generations"][i]["id"] + '">' + data["generations"][i]["title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#btn_new_car').click(function () {
            var brand_id = $('#brand_id').val();
            var model_id = $('#model_id').val();
            var generation_id = $('#generation_id').val();
            $.ajax({
                url: '/cars/get_new_car/',
                data: {
                    'brand_id': brand_id,
                    'model_id': model_id,
                    'generation_id': generation_id
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock content %}