{% extends 'base.html' %}
{% load static %}
{% block css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
    <section class="pick-up">
        <div class="pick-up__container _container">
            <div class="pick-up__content-wrapper">
                <form action="{% url 'cars_filter' %}">
                    <div class="pick-up__form-inner">
                        <div class="pick-up__slider-inscription">
                            <div>
                                Цена
                            </div>
                            <div class="pick-up__range-text">
                                <span id="pick-up-irs-from"></span>
                                &nbsp;-&nbsp;
                                <span id="pick-up-irs-to"></span>
                            </div>
                        </div>
                        <input type="text" class="js-range-slider" name="my_range" value=""/>
                        <div class="pick-up__flex">
                            <select class="pick-up__body-type select" name="brand" id="brand_id">
                                <option value="">Марка</option>
                                {% for brand in brands %}
                                    <option value="{{ brand.pk }}">{{ brand.title }}</option>
                                {% endfor %}
                            </select>
                            <select class="pick-up__body-type select" name="model" id="model_id">
                                <option value="1">Модель</option>
                            </select>
                            <select class="pick-up__body-type select" name="generation" id="generation_id">
                                <option value="1" selected>Поколение</option>
                            </select>
                            <select class="pick-up__body-type select" name="year" id="year_id">
                                <option value="" selected>Год выпуска</option>
                                {% for year in years %}
                                    <option value="{{ year.pk }}">{{ year.title.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="pick-up__flex">
                            <select class="pick-up__body-type select" name="drive_until" id="drive_unit_id">
                                <option value="" selected>Привод</option>
                                {% for drive_unit in drive_units %}
                                    <option value="{{ drive_unit.pk }}">{{ drive_unit.title }}</option>
                                {% endfor %}
                            </select>
                            <select class="pick-up__body-type select" name="transmission" id="transmission_id">
                                <option value="">КПП</option>
                                {% for transmission in transmissions %}
                                    <option value="{{ transmission.pk }}">{{ transmission }}</option>
                                {% endfor %}
                            </select>
                            <select class="pick-up__body-type select" name="body" id="body_type">
                                <option value="">Кузов</option>
                                {% for body in bodies %}
                                    <option value="{{ body.pk }}">{{ body }}</option>
                                {% endfor %}
                            </select>
                            <button id="btn_new_car" class="pick-up__list button">
                                Показать&nbsp
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="auto">
        <div class="_container">
            <h2 class="auto__heading">Автомобили в наличии с ПТС</h2>
        </div>
        <div class="auto__container _container">
            <div class="auto__list">
                {% for car in cars %}
                    <div class="auto__item" data-price="{{ car.price }}">
                        <div class="card" style="background-image: none;">
                            <a href="{{ car.get_absolute_url }}" class="card__flex">
                                <div class="card__title">
                                    {{ car.brand.title }}
                                    <nobr>{{ car.modification.volume }}</nobr>
                                    {{ car.modification }}
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </a>

                            <div class="card__offer card__polygon">Предложение дня</div>
                            <div class="card__offer-desc -accent">Выгода
                                <nobr>до 300 000 &#8381</nobr>
                            </div>

                            <a href="{{ car.get_absolute_url }}" class=" card__flex">
                                <div class="card__benefits">
                                    <div class="gift gift--l">
                                        Оборудование
                                        <p class="-accent">в подарок</p>
                                    </div>

                                    <div class="gift gift--l">
                                        КАСКО
                                        <p class="-accent">в подарок</p>
                                    </div>

                                    <div class="gift gift--l">
                                        Комплект резины
                                        <p class="-accent">в подарок</p>
                                    </div>
                                </div>
                                {% if car.car_images %}
                                    {% for car_image in car.car_images.all|slice:"1:2" %}
                                        <img src="{{ car_image.image.url }}" alt="{{ car.car_images.count }}">
                                    {% endfor %}
                                {% endif %}
                            </a>
                            <div class="card__price card__flex">
                                <span class=" -bold"
                                      style="max-width: 50%; width: 50%; align-self: flex-start;">от {{ car.price }} &#8381</span>
                                <div class="card__payment" style="width: 50%; max-width: 50%;">
                                    Кредит
                                    <p class="-bold bold_price">от {{ car.price }} &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    {{ car.modification.power }} л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    {{ car.modification.fuel_consumption }} л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    {{ car.modification.max_speed }} км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    {{ car.modification.acceleration }}c.
                                </div>
                            </div>
                            <div class="card__nav nav">
                                <div class="card__polygon nav__reserve">
                                    Резервировать
                                </div>
                                <a href="{{ car.get_absolute_url }}" class="card__polygon nav__more">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <nav class="mt-4" aria-label="Page navigation sample">
            <ul class="pagination">
                {% if page_obj.has_other_pages %}
                    {% if page_obj.has_previous %}
                        <li class="page-item disabled">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li class="page-item active"><a class="page-link"
                                                            href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>

    </section>
    <section class="comp">
        <div class="comp__top _container">
            <h2 class="comp__heading">Наши подборки</h2>
            <a href="" class="comp__link-all -highlighted">Все подборки</a>
        </div>
        <div class="comp__container _container">
            <div class="slider-swiper">
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sale">
        <div class="_container">
            <div class="sale__inner">
                <img src="{% static 'img/pngwing 3.png' %}" alt="" class="sale__img">
                <div class="sale__content">
                    <h3 class="sale__title">Перебьем предложения от конкурентов!</h3>
                    <p class="sale__text">
                        Скидки <span class="-accent -bold">от 10 до 25%</span> на стоимость автомобиля
                    </p>
                    <form action="" class="sale__form">
                        <input type="tel" placeholder="Ваш телефон" class="input" id="phone">
                        <button class="button">Получить предложение</button>
                    </form>
                    <p class="sale__note">
                        Нажимая кнопку “Отправить” Вы даете согласие на обработку своих
                        <a href="" class="">персональных данных</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="special">
        <div class="_container">
            <h2 class="special__heading">Спецпредложения</h2>
        </div>
        <div class="special__container _container">
            <div class="slider-swiper">
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/first-auto.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Первый автомобиль</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/family2.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Семейный автомобиль</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/express.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Экспресс-кредит</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/med.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Работникам медецины</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/rassrochka.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Рассрочка</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/trade-in.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Госпрограмма Trade-in</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="special__slide">
                        <img src="{% static 'img/pics/util.jpg' %}" alt="" class="special__img">
                        <div class="special__content">
                            <h6 class="special__title">Утилизация</h6>
                            <p class="special__text">1.9% по льготной ставке</p>
                            <a href="" class="special__link-view">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners">
        <div class="_container">
            <h2 class="partners__heading">Банки-партнеры</h2>
        </div>
        <div class="partners__container _container">
            <div class="slider-swiper" data-slides="1">
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="partners__slide">
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                        </div>
                        <div class="partners__item">
                            <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trust">
        <div class="_container">
            <h2 class="trust__heading">Нам доверяют</h2>
        </div>
        <div class="trust__container _container">
            <div class="slider-swiper" data-slides="4" data-appendArrows="trust">
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="trust__slide">
                        <h4 class="trust__title">Сайт отзовик</h4>
                        <span class="trust__salon-name">Название автосалона</span>
                        <div class="trust__bottom jc-spb">
                            <span class="trust__text-s">Рекомендуют 90%</span>
                            <ul class="trust__stars">
                                <li>
                                <li>
                                <li>
                                <li>
                                <li>
                            </ul>
                            <div class="trust__mark">4.5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_container trust__map-wrap">
            <div class="trust__map jc-spb">
                <div class="trust__map-top">
                    <img src="{% static 'img/yandex-maps-logo.png' %}" alt="" class="trust__map-logo y-logo">
                    <span class="trust__map-salon-name">Название автосалона</span>
                </div>
                <div class="">
                    <span class="trust__map-text">Рекомендуют 90%</span>
                    <ul class="trust__stars">
                        <li>
                        <li>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
                <div class="trust__mark">4.5</div>
            </div>
            <div class="trust__map jc-spb">
                <div class="trust__map-top">
                    <img src="{% static 'img/Google_Maps_Logo.png' %}" alt="" class="trust__map-logo">
                    <span class="trust__map-salon-name">Название автосалона</span>
                </div>
                <div class="">
                    <span class="trust__map-text">Рекомендуют 90%</span>
                    <ul class="trust__stars">
                        <li>
                        <li>
                        <li>
                        <li>
                        <li>
                    </ul>
                </div>
                <div class="trust__mark">4.5</div>
            </div>
        </div>
    </section>
    <section class="comp">
        <div class="comp__top _container">
            <h2 class="comp__heading">Блог</h2>
            <a href="" class="comp__link-all -highlighted">Смотреть блоги</a>
        </div>
        <div class="comp__container _container">
            <div class="slider-swiper">
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="slider-swiper__item">
                    <div class="comp__slide">
                        <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                        <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                        </div>
                        <div class="comp__content">
                            <h6 class="comp__title">Семейные автомобили</h6>
                            <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A97c80d85d882095b934e5118ca84dde7fb30cc104f79dbab45b848d4b4b4e092&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;"></script>
    <script>
        /*    window.onload = function () {
                var box = document.getElementsByClassName('auto__item');
                var btn = document.getElementById('auto__show-more');
                for (let i = 3; i < box.length; i++) {
                    box[i].style.display = "none";
                }

                var countD = 3;
                btn.addEventListener("click", function () {
                    var box = document.getElementsByClassName('auto__item');
                    countD += 3;
                    if (countD <= box.length) {
                        for (let i = 0; i < countD; i++) {
                            box[i].style.display = "block";
                        }
                    }
                    if (countD >= box.length) {
                        btn.style.display = "none";
                    }

                })
            } * /
</script>
    <script>
        $(document).ready(function () {
            $('#brand_id').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id').empty(); // remove old options if any present in select
                        $('#model_id').append('<option value="">Выберите модель</option>');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_generations/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#generation_id').empty(); // remove old options if any present in select
                        for (var i = 0; i < data["generations"].length; i++) {
                            $('#generation_id').append('<option value="' + data["generations"][i]["id"] + '">' + data["generations"][i]["title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#btn_new_car').click(function () {
            var brand_id = $('#brand_id').val();
            var model_id = $('#model_id').val();
            var generation_id = $('#generation_id').val();
            $.ajax({
                url: '/cars/get_new_car/',
                data: {
                    'brand_id': brand_id,
                    'model_id': model_id,
                    'generation_id': generation_id
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock content %}