{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/taxi-credit.css' %}">
{% endblock %}
{% block js %}
{% endblock %}
{% block top-banner %}

{% endblock %}
{% block content %}
    <main class="main">
        <section class="hero">
            <div class="container">
                <p class="backlink-p">
                    <a href="{% url 'index' %}" class="back-link">Главная / </a>
                    Такси в кредит
                </p>
                <h1 class="hero-title">
                    Специальное предложение на покупку авто под такси
                </h1>
                <div class="hero-adv">
                    <div class="">
                        <div class="hero-adv__item">
                            <img src="{% static 'img/taxi-credit-1920/hero-adv-item.png' %}" alt="">
                            <p>Льготный
                                автокредит от 1,9%</p>
                        </div>
                        <div class="hero-adv__item">
                            <img src="{% static 'img/taxi-credit-1920/hero-adv-item.png' %}" alt="">
                            <p>Оклейка авто
                                в подарок</p>
                        </div>
                    </div>
                    <div class="">
                        <div class="hero-adv__item">
                            <img src="{% static 'img/taxi-credit-1920/hero-adv-item.png' %}" alt="">
                            <p>Акция действует до 13 сентября!</p>
                        </div>
                        <div class="hero-adv__item">
                            <img src="{% static 'img/taxi-credit-1920/hero-adv-item.png' %}" alt="">
                            <p>Первоначальный взнос 0%</p>
                        </div>
                    </div>
                </div>
                <div class="hero__special">
                    <div class="hero__special-left">
                        <p>Получите специальную цену</p>
                        <span>Только до 10.10.21</span>
                    </div>
                    <div class="hero__special-right">
                        <div class="hero__special-right__top">
                            <input type="text" placeholder="Ваше имя">
                            <input type="tel" placeholder="Ваш телефон">
                            <button type="submit" class="hero__special-right__btn red-btn">получить предложение</button>
                        </div>
                        <p>Нажимая кнопку “Получить скидку” Вы даете согласие на обработку своих персональных данных</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="advantages">
            <div class="container">
                <p class="advantages-desc">
                    Хотите начать зарабатывать на себя? Приобретение собственного такси – один из самых доступных,
                    простых, популярных и выгодных вариантов. А главное – в отличие от других видов бизнеса здесь не
                    нужен большой стартовый капитал.
                </p>
                <div class="advantages-list">
                    <div class="advantages-list__top">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-1.png' %}" alt="">
                                <p>0% первый взнос</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-2.png' %}" alt="">
                                <p>Одобрение кредита
                                    в течение 15-30 минут</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-3.png' %}" alt="">
                                <p>Минимум документов
                                    для подачи заявки</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-4.png' %}" alt="">
                                <p>Trade-in в качестве
                                    первоначального взноса</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-5.png' %}" alt="">
                                <p>Оклейка и
                                    брендирование в подарок</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-5.png' %}" alt="">
                                <p>Помощь в оформлении документов</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-7.png' %}" alt="">
                                <p>Комплект резины
                                    в подарок</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <div class="">
                                <img src="{% static 'img/taxi-credit-1920/advantages-8.png' %}" alt="">
                                <p>Оформление ОСАГО
                                    за 15 минут</p>
                            </div>
                        </div>
                        <img class="advantages__line" src="{% static 'img/taxi-credit-1920/advantages-line.png' %}" alt="">
                        <div class="advantages-list__item">
                            <img src="{% static 'img/taxi-credit-1920/advantages-9.png' %}" alt="">
                            <p>Поможем оформить лицензию под такси</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="autos">
            <div class="autos-top">
                <img class="autos-top__img" src="{% static 'img/taxi-credit-1920/auto-header.png' %}" alt="">
                <h2 class="sec-title">
                    Автомобили для такси в наличии
                </h2>
                <img class="autos-top__img" src="{% static 'img/taxi-credit-1920/auto-header.png' %}" alt="">
            </div>
            <div class="container">
                <div class="autos-select">
                    <div class="autos-select__left">
                        <p>Выберите класс автомобиля</p>
                        <button class="autos-select__left-btn">
                            эконом
                        </button>
                        <button class="autos-select__left-btn">
                            комфорт
                        </button>
                        <button class="autos-select__left-btn">
                            комфорт+
                        </button>
                    </div>
                    <div class="autos-select__right">
                        <select name="" id="">
                            <option value="">Марка</option>
                        </select>
                        <select name="" id="">
                            <option value="">Модель</option>
                        </select>
                    </div>
                </div>
                <div class="taxi__cards">
                    <div class="taxi__cards-item">
                        <div class="taxi__cards-item__top">
                            <div class="taxi__cards-item__imgs">
                                <img src="{% static 'img/main-1920/header-heart.svg' %}" alt="">
                                <img src="{% static 'img/main-1920/header-stats.svg' %}" alt="">
                            </div>
                            <p>эконом</p>
                        </div>
                        <div class="taxi__cards-item__content">
                            <img src="{% static 'img/favourite-1920/taxi.png' %}" alt="">
                            <p class="taxi__cards-item__content-title">
                                Lada Granta Liftback New <br> 1.6 MT Comfort
                            </p>
                            <p class="taxi__cards-item__content-price">
                                от 221 100 ₽
                            </p>
                            <p class="taxi__cards-item__content-day">
                                от 82 ₽/день
                            </p>
                        </div>
                        <div class="taxi__cards-item__params">
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Установка ГБО для экономии прибыли</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Оклейка и брендирование такси </p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Комплект резины в подарок</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Рассрочка 0%</p>
                            </div>
                        </div>
                        <div class="taxi__cards-item__btns">
                            <button class="taxi__cards-item__btns-more red-btn">
                                Подробнее
                            </button>
                            <button class="taxi__cards-item__btns-request red-btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                    <div class="taxi__cards-item">
                        <div class="taxi__cards-item__top">
                            <div class="taxi__cards-item__imgs">
                                <img src="{% static 'img/main-1920/header-heart.svg' %}" alt="">
                                <img src="{% static 'img/main-1920/header-stats.svg' %}" alt="">
                            </div>
                            <p>эконом</p>
                        </div>
                        <div class="taxi__cards-item__content">
                            <img src="{% static 'img/favourite-1920/taxi.png' %}" alt="">
                            <p class="taxi__cards-item__content-title">
                                Lada Granta Liftback New <br> 1.6 MT Comfort
                            </p>
                            <p class="taxi__cards-item__content-price">
                                от 221 100 ₽
                            </p>
                            <p class="taxi__cards-item__content-day">
                                от 82 ₽/день
                            </p>
                        </div>
                        <div class="taxi__cards-item__params">
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Установка ГБО для экономии прибыли</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Оклейка и брендирование такси </p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Комплект резины в подарок</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Рассрочка 0%</p>
                            </div>
                        </div>
                        <div class="taxi__cards-item__btns">
                            <button class="taxi__cards-item__btns-more red-btn">
                                Подробнее
                            </button>
                            <button class="taxi__cards-item__btns-request red-btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                    <div class="taxi__cards-item">
                        <div class="taxi__cards-item__top">
                            <div class="taxi__cards-item__imgs">
                                <img src="{% static 'img/main-1920/header-heart.svg' %}" alt="">
                                <img src="{% static 'img/main-1920/header-stats.svg' %}" alt="">
                            </div>
                            <p>эконом</p>
                        </div>
                        <div class="taxi__cards-item__content">
                            <img src="{% static 'img/favourite-1920/taxi.png' %}" alt="">
                            <p class="taxi__cards-item__content-title">
                                Lada Granta Liftback New <br> 1.6 MT Comfort
                            </p>
                            <p class="taxi__cards-item__content-price">
                                от 221 100 ₽
                            </p>
                            <p class="taxi__cards-item__content-day">
                                от 82 ₽/день
                            </p>
                        </div>
                        <div class="taxi__cards-item__params">
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Установка ГБО для экономии прибыли</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Оклейка и брендирование такси </p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Комплект резины в подарок</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Рассрочка 0%</p>
                            </div>
                        </div>
                        <div class="taxi__cards-item__btns">
                            <button class="taxi__cards-item__btns-more red-btn">
                                Подробнее
                            </button>
                            <button class="taxi__cards-item__btns-request red-btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                    <div class="taxi__cards-item">
                        <div class="taxi__cards-item__top">
                            <div class="taxi__cards-item__imgs">
                                <img src="{% static 'img/main-1920/header-heart.svg' %}" alt="">
                                <img src="{% static 'img/main-1920/header-stats.svg' %}" alt="">
                            </div>
                            <p>эконом</p>
                        </div>
                        <div class="taxi__cards-item__content">
                            <img src="{% static 'img/favourite-1920/taxi.png' %}" alt="">
                            <p class="taxi__cards-item__content-title">
                                Lada Granta Liftback New <br> 1.6 MT Comfort
                            </p>
                            <p class="taxi__cards-item__content-price">
                                от 221 100 ₽
                            </p>
                            <p class="taxi__cards-item__content-day">
                                от 82 ₽/день
                            </p>
                        </div>
                        <div class="taxi__cards-item__params">
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Установка ГБО для экономии прибыли</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Оклейка и брендирование такси </p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Комплект резины в подарок</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Рассрочка 0%</p>
                            </div>
                        </div>
                        <div class="taxi__cards-item__btns">
                            <button class="taxi__cards-item__btns-more red-btn">
                                Подробнее
                            </button>
                            <button class="taxi__cards-item__btns-request red-btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                    <div class="taxi__cards-item">
                        <div class="taxi__cards-item__top">
                            <div class="taxi__cards-item__imgs">
                                <img src="{% static 'img/main-1920/header-heart.svg' %}" alt="">
                                <img src="{% static 'img/main-1920/header-stats.svg' %}" alt="">
                            </div>
                            <p>эконом</p>
                        </div>
                        <div class="taxi__cards-item__content">
                            <img src="{% static 'img/favourite-1920/taxi.png' %}" alt="">
                            <p class="taxi__cards-item__content-title">
                                Lada Granta Liftback New <br> 1.6 MT Comfort
                            </p>
                            <p class="taxi__cards-item__content-price">
                                от 221 100 ₽
                            </p>
                            <p class="taxi__cards-item__content-day">
                                от 82 ₽/день
                            </p>
                        </div>
                        <div class="taxi__cards-item__params">
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Установка ГБО для экономии прибыли</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Оклейка и брендирование такси </p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Комплект резины в подарок</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Рассрочка 0%</p>
                            </div>
                        </div>
                        <div class="taxi__cards-item__btns">
                            <button class="taxi__cards-item__btns-more red-btn">
                                Подробнее
                            </button>
                            <button class="taxi__cards-item__btns-request red-btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                    <div class="taxi__cards-item">
                        <div class="taxi__cards-item__top">
                            <div class="taxi__cards-item__imgs">
                                <img src="{% static 'img/main-1920/header-heart.svg' %}" alt="">
                                <img src="{% static 'img/main-1920/header-stats.svg' %}" alt="">
                            </div>
                            <p>эконом</p>
                        </div>
                        <div class="taxi__cards-item__content">
                            <img src="{% static 'img/favourite-1920/taxi.png' %}" alt="">
                            <p class="taxi__cards-item__content-title">
                                Lada Granta Liftback New <br> 1.6 MT Comfort
                            </p>
                            <p class="taxi__cards-item__content-price">
                                от 221 100 ₽
                            </p>
                            <p class="taxi__cards-item__content-day">
                                от 82 ₽/день
                            </p>
                        </div>
                        <div class="taxi__cards-item__params">
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Установка ГБО для экономии прибыли</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Оклейка и брендирование такси </p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Комплект резины в подарок</p>
                            </div>
                            <div class="taxi__cards-item__params-item">
                                <img src="{% static 'img/favourite-1920/taxi-card-params.png' %}" alt="">
                                <p>Рассрочка 0%</p>
                            </div>
                        </div>
                        <div class="taxi__cards-item__btns">
                            <button class="taxi__cards-item__btns-more red-btn">
                                Подробнее
                            </button>
                            <button class="taxi__cards-item__btns-request red-btn">
                                Оставить заявку
                            </button>
                        </div>
                    </div>
                </div>
                <div class="auto__btn">
                    <button class="autos-select__btn red-btn">
                        показать ещё
                    </button>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="container work-cont">
                <div class="">
                    <h2 class="sec-title work-title">
                        Сколько можно заработать на такси?
                    </h2>
                </div>
                <div class="work-center">
                    <p class="work-center__plus">
                        Преимущества
                    </p>
                    <p class="work-center__title">
                        Свое такси
                    </p>
                    <div class="work-center__list">
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-plus.png' %}" alt="">
                            <p>Авто в личной собственности по ПТС</p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-plus.png' %}" alt="">
                            <p>Платеж по кредиту от 90 руб. в день</p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-plus.png' %}" alt="">
                            <p>Рассрочка 0% без первоначального взноса
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-plus.png' %}" alt="">
                            <p>Бесплатная установка ГБО для экономии топлива
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-plus.png' %}" alt="">
                            <p>Оклейка автомобиля по ГОСТу
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-plus.png' %}" alt="">
                            <p>Быстрое оформление всех документов под ключ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="work-right">
                    <p class="work-center__minus">
                        Недостатки
                    </p>
                    <p class="work-center__title">
                        Аренда такси
                    </p>
                    <div class="work-center__list">
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-minus.png' %}" alt="">
                            <p>Авто в собственности автопарка</p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-minus.png' %}" alt="">
                            <p>Платеж за арендованное такси от 1200 руб. в день
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-minus.png' %}" alt="">
                            <p>Риск скрытых комиссий и переплат
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-minus.png' %}" alt="">
                            <p>Нельзя установить доп. оборудование
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-minus.png' %}" alt="">
                            <p>Возможно несоответствие нормам ГОСТ
                            </p>
                        </div>
                        <div class="work-center__list-item">
                            <img src="{% static 'img/taxi-credit-1920/work-minus.png' %}" alt="">
                            <p>Долгое оформление документов
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="calc">
            <div class="container">
                <h2 class="sec-title" style="text-align:center;">
                    Кредитный калькулятор
                </h2>
                <div class="calc-list">
                    <div class="calc-list__item">
                        <img src="{% static 'img/taxi-credit-1920/calc-1.png' %}" alt="">
                        <div class="calc-list__item-content">
                            <p class="calc-list__item-content__title">
                                Выберите класс авто
                            </p>
                            <select class="calc-list__item-content__select" name="" id="">
                                <option value="">Старт</option>
                            </select>
                        </div>
                    </div>
                    <div class="calc-list__item">
                        <img src="{% static 'img/taxi-credit-1920/calc-2.png' %}" alt="">
                        <div class="calc-list__item-content">
                            <p class="calc-list__item-content__title">
                                Ваш будущий автомобиль
                            </p>
                            <div class="calc-list__item-content__selects">
                                <select class="calc-list__item-content__selects-item" name="" id="">
                                    <option value="">Выберите марку</option>
                                </select>
                                <select class="calc-list__item-content__selects-item" name="" id="">
                                    <option value="">Выберите модель</option>
                                </select>
                            </div>
                            <div class="calc-list__item-content__card">
                                <p class="card-title">
                                    Lada Granta Liftback New 1.6 MT Comfort
                                </p>
                                <div class="card-price">
                                    <p class="card-price__main">
                                        от 221 100 ₽
                                    </p>
                                    <p class="card-price__credit">
                                        от 82 ₽/день
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calc-list__item">
                        <img src="{% static 'img/taxi-credit-1920/calc-3.png' %}" alt="">
                        <div class="calc-list__item-content">
                            <p class="calc-list__item-content__title">
                                Срок кредита, мес.
                            </p>
                            <select class="calc-list__item-content__select" name="" id="">
                                <option value="">7 лет</option>
                            </select>
                        </div>
                    </div>
                    <div class="calc-list__item">
                        <img src="{% static 'img/taxi-credit-1920/calc-4.png' %}" alt="">
                        <div class="calc-list__item-content">
                            <p class="calc-list__item-content__title">
                                Персональные данные
                            </p>
                            <input type="text" class="calc-list__item-content__select calc-input"
                                   placeholder="Ваше имя">
                            <input type="text" class="calc-list__item-content__select" placeholder="Ваш телефон">
                        </div>
                    </div>
                    <div class="calc-list__item">
                        <img src="{% static 'img/taxi-credit-1920/calc-done.png' %}" alt="">
                        <div class="calc-list__item-content">
                            <button class="calc-btn red-btn">
                                оставить заявку
                            </button>
                            <p class="calc-desc">
                                Нажимая кнопку Оставить заявку” Вы даете согласие на обработку своих персональных данных
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="_container">
                <h2 class="partners__heading">Банки-партнеры</h2>
            </div>
            <div class="partners__container _container">
                <div class="slider-swiper" data-slides="1">
                    <div class="slider-swiper__item">
                        <div class="partners__slide">
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="partners__slide">
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="partners__slide">
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="partners__slide">
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0alfa.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0vsk.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0sovkom.png' %}" alt="">
                            </div>
                            <div class="partners__item">
                                <img src="{% static 'img/logo/0rosgosstrah.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}