{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/auto-probeg.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <p class="backlink-p">
                <a href="{% url 'index' %}" class="back-link">Главная / </a>
                Авто с пробегом
            </p>
            <h1 class="page__title">
                Авто с пробегом
            </h1>
        </div>
        <section class="pick-up">
            <div class="pick-up__container _container">
                <div class="pick-up__content-wrapper">
                    <form>
                        <div class="pick-up__form-inner">
                            <div class="pick-up__slider-inscription">
                                <div>
                                    Цена
                                </div>
                                <div class="pick-up__range-text">
                                    <span id="pick-up-irs-from"></span>
                                    &nbsp;-&nbsp;
                                    <span id="pick-up-irs-to"></span>
                                </div>
                            </div>
                            <input type="text" class="js-range-slider" name="my_range" value=""/>
                            <div class="pick-up__flex">
                                <select class="pick-up__transmission">
                                    {% for brand in brands %}
                                        <option value="{{ brand.pk }}">{{ brand }}</option>
                                    {% endfor %}
                                </select>
                                <select class="pick-up__transmission" data-state="">
                                    <option value="1">Модель</option>
                                    <option value="1">X5</option>
                                    <option value="2">X6</option>
                                </select>
                                <select class="pick-up__body-type select">
                                    <option value="1" selected>Поколение</option>
                                    <option value="2">E70</option>
                                    <option value="3">E71</option>
                                </select>
                                <select class="pick-up__transmission">
                                    <option value="1" selected>Год выпуска</option>
                                    <option value="2">2010</option>
                                    <option value="3">2011</option>
                                    <option value="4">2012</option>
                                    <option value="5">2013</option>
                                    <option value="6">2014</option>
                                    <option value="7">2015</option>
                                    <option value="8">2016</option>
                                    <option value="9">2017</option>
                                    <option value="10">2018</option>
                                    <option value="11">2019</option>
                                    <option value="12">2020</option>
                                </select>
                            </div>
                            <div class="pick-up__flex">
                                <select class="pick-up__body-type">
                                    <option value="1" selected>Привод</option>
                                    <option value="2">Передний</option>
                                    <option value="3">Задний</option>
                                    <option value="4">Полный</option>
                                </select>
                                <select class="pick-up__transmission">
                                    <option value="1" selected>Коробка передач</option>
                                    <option value="2">Механическая</option>
                                    <option value="3">Автоматическая</option>
                                    <option value="4">Роботизированная</option>
                                    <option value="5">Вариатор</option>
                                </select>
                                <select class="pick-up__body-type select">
                                    <option value="1" selected>Седан</option>
                                    <option value="2">Универсал</option>
                                    <option value="3">Хэтчбэк</option>
                                    <option value="4">Лифтбэк</option>
                                    <option value="5">Минивен</option>
                                    <option value="6">Купе</option>
                                    <option value="7">Кроссовер</option>
                                    <option value="8">Внедорожник</option>
                                    <option value="9">Кабриолет</option>
                                    <option value="10">Пикап</option>
                                    <option value="11">Фургон</option>
                                </select>
                                <button class="pick-up__list button" style="height: auto;">Показать&nbsp;<span>73</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="auto">
            <div class="_container">
                <h2 class="auto__heading">Автомобили с пробегом</h2>
            </div>
            <div class="auto__container _container">
                <div class="auto__list">
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}" class="owl-carousel owl-theme">
                                    <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                    <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                    <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                    <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                    <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                    <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="auto__item">
                        <div class="card">
                            <div class="card__flex">
                                <div class="card__title">
                                    Skoda Octavia
                                </div>
                                <div class="card__icons">
                                    <i class="card__likes likes-icon"></i>
                                </div>
                            </div>

                            <div class="card__flex">
                                <a href="{% url 'detail' %}">
                                    <img src="{% static 'img/octavia.png' %}" alt="">
                                </a>
                            </div>
                            <div class="card__price card__flex">
                                <span class=" -bold">от 1 615 000 &#8381</span>
                                <div class="card__payment">
                                    Кредит
                                    <p class="-bold">от 115 000 &#8381/мес.</p>
                                </div>
                            </div>
                            <div class="card__flex card__option-list">
                                <div class="card__option-item i-engine i-engine--m">
                                    115 л.с.
                                </div>
                                <div class="card__option-item i-gas i-gas--m">
                                    5.3 л/км
                                </div>
                                <div class="card__option-item i-speed i-speed--m">
                                    189 км/ч
                                </div>
                                <div class="card__option-item i-timer i-timer--m">
                                    10,3 c.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button class="auto__show-more button" id="auto__show-more" hidden>Показать еще</button>

        </section>
        <section class="comp">
            <div class="comp__top _container">
                <h2 class="comp__heading">Блог</h2>
                <a href="" class="comp__link-all -highlighted">Смотреть блоги</a>
            </div>
            <div class="comp__container _container">
                <div class="slider-swiper">
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        // если auto__item больше 3, то убираем атрибут hidden у кнопки
        if ($('.auto__item').length > 3) {
            $('#auto__show-more').removeAttr('hidden');
        }
    </script>
{% endblock content %}
