{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/auto-probeg.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
        <div class="container">
            <p class="backlink-p">
                <a href="{% url 'index' %}" class="back-link">Главная / </a>
                Авто с пробегом
            </p>
            <h1 class="page__title">
                Авто с пробегом
            </h1>
        </div>
        <section class="pick-up">
            <div class="pick-up__container _container">
                <div class="pick-up__content-wrapper">
                    <form>
                        <div class="pick-up__form-inner">
                            <div class="pick-up__slider-inscription">
                                <div>
                                    Цена
                                </div>
                                <div class="pick-up__range-text">
                                    <span id="pick-up-irs-from"></span>
                                    &nbsp;-&nbsp;
                                    <span id="pick-up-irs-to"></span>
                                </div>
                            </div>
                            <input type="text" class="js-range-slider" name="my_range" value=""/>
                            <div class="pick-up__flex">
                                <select class="pick-up__body-type select" id="brand_id">
                                    {% for brand in brands %}
                                        <option value="{{ brand.pk }}">{{ brand.title }}</option>
                                    {% endfor %}
                                </select>
                                <select class="pick-up__body-type select" id="model_id">
                                    <option value="1">Модель</option>
                                </select>
                                <select class="pick-up__body-type select" id="generation_id">
                                    <option value="1" selected>Поколение</option>
                                </select>
                                <select class="pick-up__body-type select" id="year_id">
                                    <option value="year" selected>Год выпуска</option>
                                    {% for year in years %}
                                        <option value="{{ year.pk }}">{{ year.title.year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="pick-up__flex">
                                <select class="pick-up__body-type select" id="drive_unit_id">
                                    <option value="1" selected>Привод</option>
                                    {% for drive_unit in drive_units %}
                                        <option value="{{ drive_unit }}">{{ drive_unit }}</option>
                                    {% endfor %}
                                </select>
                                <select class="pick-up__body-type select" id="transmission_id">
                                    <option value="KPP" selected>КПП</option>
                                    {% for transmission in transmissions %}
                                        <option value="{{ transmission }}">{{ transmission }}</option>
                                    {% endfor %}
                                </select>
                                <select class="pick-up__body-type select" id="body_type">
                                    <option value="body">Кузов</option>
                                    {% for body in bodies %}
                                        <option value="{{ body.pk }}">{{ body }}</option>
                                    {% endfor %}
                                </select>
                                <button id="btn_new_car" class="pick-up__list button">
                                    Показать&nbsp;<span>{{ cars.count }}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="auto">
            <div class="_container">
                <h2 class="auto__heading">Автомобили с пробегом</h2>
            </div>
            <div class="auto__container _container">
                <div class="auto__list">
                    {% for car in cars %}
                        <div class="auto__item">
                            <div class="card" style="background-image: none;">
                                <div class="card__flex">
                                    <div class="card__title">
                                        Skoda Octavia
                                    </div>
                                    <div class="card__icons">
                                        <i class="card__likes likes-icon"></i>
                                    </div>
                                </div>

                                <div class="card__flex">
                                    <a href="{% url 'detail' %}" class="owl-carousel owl-theme">
                                        <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                        <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                        <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                        <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                        <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                        <img src="{% static 'img/auto-probeg-1920/camry.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="card__price card__flex">
                                    <span class=" -bold">от 1 615 000 &#8381</span>
                                    <div class="card__payment">
                                        Кредит
                                        <p class="-bold">от 115 000 &#8381/мес.</p>
                                    </div>
                                </div>
                                <div class="card__flex card__option-list">
                                    <div class="card__option-item i-engine i-engine--m">
                                        115 л.с.
                                    </div>
                                    <div class="card__option-item i-gas i-gas--m">
                                        5.3 л/км
                                    </div>
                                    <div class="card__option-item i-speed i-speed--m">
                                        189 км/ч
                                    </div>
                                    <div class="card__option-item i-timer i-timer--m">
                                        10,3 c.
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="auto__show-more button" id="auto__show-more" hidden>Показать еще</button>

        </section>
        <section class="comp">
            <div class="comp__top _container">
                <h2 class="comp__heading">Блог</h2>
                <a href="" class="comp__link-all -highlighted">Смотреть блоги</a>
            </div>
            <div class="comp__container _container">
                <div class="slider-swiper">
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-swiper__item">
                        <div class="comp__slide">
                            <img src="{% static 'img/pics/family.jpg' %}" alt="" class="comp__img">
                            <div class="comp__over">
								<span>Это короткое описание к содержанию подборки. Просто нужно написать какой нибудь
									текст.</span>
                            </div>
                            <div class="comp__content">
                                <h6 class="comp__title">Семейные автомобили</h6>
                                <a href="" class="comp__link-view -highlighted">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        // если auto__item больше 3, то убираем атрибут hidden у кнопки
        if ($('.auto__item').length > 3) {
            $('#auto__show-more').removeAttr('hidden');
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#brand_id').click(function () {
                var brand_id = $(this).val();
                $.ajax({
                    url: '/cars/get_models/',
                    data: {
                        'brand_id': brand_id
                    },
                    success: function (data) {
                        // clear model select
                        $('#model_id').empty(); // remove old options if any present in select
                        $('#model_id').append('<option value="">Выберите модель</option>');
                        $('#generation_id').empty(); // remove old options if any present in select
                        $('#generation_id').append('<option value="">Выберите поколение</option>');
                        // add new options
                        for (var i = 0; i < data["models"].length; i++) {
                            $('#model_id').append('<option value="' + data["models"][i]["id"] + '">' + data["models"][i]["title"] + '</option>');
                        }
                    }

                });
            }); // end brand change
            $('#model_id').click(function () {
                var model_id = $(this).val();
                $.ajax({
                    url: '/cars/get_generations/',
                    data: {
                        'model': model_id
                    },
                    success: function (data) {
                        $('#generation_id').empty(); // remove old options if any present in select
                        for (var i = 0; i < data["generations"].length; i++) {
                            $('#generation_id').append('<option value="' + data["generations"][i]["id"] + '">' + data["generations"][i]["title"] + '</option>');
                        }
                    }
                });
            }); // end model change
        });
        $('#btn_new_car').click(function () {
            var brand_id = $('#brand_id').val();
            var model_id = $('#model_id').val();
            var generation_id = $('#generation_id').val();
            $.ajax({
                url: '/cars/get_new_car/',
                data: {
                    'brand_id': brand_id,
                    'model_id': model_id,
                    'generation_id': generation_id
                },
                success: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock content %}
